{% extends "layout.html" %}
{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ text: "Back",
href: "javascript:history.back()"
})
}}
{% endblock %}
{% block content %}
<script>
    localStorage.setItem("registration.firstTimeReg", JSON.stringify("yes"));
</script>
<style>
    .govuk-header__content {display:none ;}
</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
             <h1 class="govuk-heading-xl" style="margin-bottom:30px">
                  Confirm who you are
                </h1>
                <p class="govuk-body">To pay for your apprenticeships using government funding you will need to confirm who you are using your organisation’s PAYE scheme.</p>
                <p> If you do not need to get government funding yet, you can still register an account to:</p>
                     <ul class="govuk-list govuk-list--bullet" style="margin-bottom:30px">
                    <li>search and save apprenticeships</li>
                    <li>save your chosen training providers</li>
                </ul>
                <p class="govuk-body">You can add your organisations PAYE scheme using either of the following:</p>
                <ul class="govuk-list govuk-list--bullet" style="">
                    <li>the Government Gateway login for your PAYE scheme</li>
                    <li>your accounts office reference number and employer PAYE scheme reference</li>
                </ul>

                <details class="govuk-details" style="">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                         Find your accounts office and PAYE scheme reference numbers
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                      <p> You can find your 13-character accounts office reference number on the letter HMRC sent you when you first registered as an employer.</p>
                      <p>You will find your employer PAYE scheme reference in the payslip booklet HMRC provided. Contact HMRC or your accountant if you do not have access to the booklet.</p>
                      </div>
                </details>



                <form action="whatTypeOfAccount" method="get" class="form" style="margin-top:35px">
                    <div id="addTheError" class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading" style="">
                               Do you want to add a PAYE scheme to confirm who you are?

                                </h2>
                            </legend>
                            <span id="gatewayError" class="govuk-error-message rj-dont-display">What do you want to use your account for? </span>
                            <div class="govuk-radios ">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="needed-1" name="whatsNeeded" type="radio" value="true">
                                    <label class="govuk-label govuk-radios__label" for="needed-1">
                                  Yes. I will use HMRC's Government Gateway to add my PAYE scheme
                                    </label>
         <!--                        <span  class="govuk-hint" style="padding-left:15px; width:66%">
                                         You can upgrade your account to access government funds at any time
                                    </span>  -->
                                </div>
                                     <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-3" name="whatsNeeded" type="radio" value="truthy">
              <label class="govuk-label govuk-radios__label" for="needed-3">
               Yes. I will give you my accounts office reference number and employers PAYE scheme reference
              </label>
            </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="needed-2" name="whatsNeeded" type="radio" value="false">
                                    <label class="govuk-label govuk-radios__label" for="needed-2">
                                      No. I will add my PAYE scheme details later. I do not need to get government funding now
                                    </label>
    <!--                             <span  class="govuk-hint" style="padding-left:15px; width:66%">
                                         You will need to add PAYE scheme to access apprenticeship funding
                                    </span> -->
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}