{% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}  {% include "includes/version5/recruitNav.html" %}    {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "./" }) }} {% endblock %} {% block content %}



<script>
var robEdwardsShorlist = "{{ data['robEdwardsShorlist'] }}"; //line 1360 routes.js
var robEdwardsAlertShortlist = "{{ data['robEdwardsAlertShorlist'] }}"; //line 1360 routes.js
var robEdwardsReject = "{{ data['robEdwardsReject'] }}";
//var forecastDone = JSON.parse(localStorage.getItem('registration.forecastComplete'));

$(document).ready(function() {
    var changeStuff = function() {
        if (robEdwardsShorlist == 'true') {
            // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
            // document.getElementById("providerName").textContent = "Provider:" ;
            $(reShortlist).removeClass("rj-dont-display");
            $(reNewApp).addClass("rj-dont-display");
            $(robEdwards).removeClass("rj-dont-display");
            $(robEdwardsRejected).addClass("rj-dont-display");
        } else {};

        if (robEdwardsAlertShortlist == 'true') {
            $(robEdwardsShortlistedAlert).removeClass("rj-dont-display")
            // this bad boy resets the session data so the alert isn't shown again
            $.post("#", { robEdwardsAlertShorlist: "false", });
        } else {};

        //   if (robEdwardsReject=='true' && robEdwardsShorlist!='true') { 
        //       $(robEdwardsRejected).removeClass("rj-dont-display");
        //       $(robEdwards).addClass("rj-dont-display");
        // }
        // else {};
          }
        changeStuff();
    
});
</script>


<div class="govuk-width-container">
              <div style= "width:66%; " id="robEdwardsShortlistedAlert" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Rob Edwards shortlisted</h1>
                   <p>You've successfully shortlisted Rob Edwards for this vacancy.</p>
               </div>
                <div style= "width:66%; " id="robEdwardsRejectedAlert" class="success-summary rj-dont-display"> 
                   <h1 class="govuk-heading-l" style="margin-bottom:10px">Rob Edwards rejected</h1>
                   <p>You've successfully rejected Rob Edwards for this vacancy.</p>
               </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
                 <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Aeronautical Engineer Apprenticeship <span class="govuk-caption-l">VAC1000000652</span>  </h1>
          
<!--                 <form action="step-1" method="get" class="form">
                    <button class="govuk-button">Create Vacancy</button>
                </form> 
            -->

 <div class="notShown" id="notShown">
    <table class="govuk-table ">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
<!--                 <th class="govuk-table__header" scope="col" style="">Status</th> -->
                <th class="govuk-table__header " scope="col" style="">Status</th>
                <th class="govuk-table__header " scope="col" style="">Name</th>
                <th class="govuk-table__header" scope="col" style="">Date of application</th>
                <th class="govuk-table__header" scope="col" style=""></th>
<!--                               <th class="govuk-table__header" scope="col" style="width:100px">Number of offers</th> -->
  <!--               <th class="govuk-table__header" scope="col">Action</th> -->
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row" id="robEdwards">
<!--                 <td class="govuk-table__cell" scope="row">Draft</td> -->
                <td class="govuk-table__cell " id="reNewApp">New application</td>
                <td class="govuk-table__cell rj-dont-display" id="reShortlist" >Shortlisted</td>
                <td class="govuk-table__cell ">Rob Edwards</td>
                <td class="govuk-table__cell ">8 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">9</td>
                              <td class="govuk-table__cell ">1</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="robEdwards">View</a>
                </td>
            </tr>
            <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Shortlisted</td>
                <td class="govuk-table__cell ">David Jenkins</td>
                <td class="govuk-table__cell ">7 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="davidJenkins">View</a>
                </td>
            </tr>
             <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Offered</td>
                <td class="govuk-table__cell ">Susan Apan</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="susanApan">View</a>
                </td>
            </tr>
                         <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Made an apprentice</td>
                <td class="govuk-table__cell ">Mel England</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="#">View</a>
                </td>
            </tr>
</tbody>
</table>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     View rejected candidates
    </span>
  </summary>
<table class="govuk-table " style="margin-top:15px">  
     <tbody class="govuk-table__body">

            <tr class="govuk-table__row rj-dont-display" id="robEdwardsRejected">
                <td class="govuk-table__cell ">Rejected</td>
                <td class="govuk-table__cell ">Rob Edwards</td>
                <td class="govuk-table__cell ">8 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="robEdwards">View</a>
                </td>
            </tr>
                         <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Rejected</td>
                <td class="govuk-table__cell ">Lisa Rogers</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="#">View</a>
                </td>
            </tr>
                         <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Rejected</td>
                <td class="govuk-table__cell ">Sam Eton</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="#">View</a>
                </td>
            </tr>
                         <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Rejected</td>
                <td class="govuk-table__cell ">Helen May</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="#">View</a>
                </td>
            </tr>
                         <tr class="govuk-table__row" id="May18">
                <td class="govuk-table__cell ">Rejected</td>
                <td class="govuk-table__cell ">Jake Mitchell</td>
                <td class="govuk-table__cell ">6 Dec 2018</td>
<!--                 <td class="govuk-table__cell ">4</td>
                 <td class="govuk-table__cell ">2</td> -->
                <td class="govuk-table__cell" scope="row">
                    <a href="#">View</a>
                </td>
            </tr>
        </tbody>
    </table>
</details>

    
</div></div>



 
        </div>
    </main>
    {% endblock %}