{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block beforeContent %} 
{% include "includes/version7/mainNav.html" %} 
{% include "includes/version7/homeNav.html" %} 
 {% endblock %} 

{% block content %}


<style>

//new task list stuff goes here

.task-list-item:after {
  content: '';
  display: block;
  clear: both;
}

.task-list {
  margin-top: 30px;
  list-style-type: none;
  padding-left:0;
}

@media (min-width: 641px) {
  .task-list {
 
  }
}

.find-list {
  font-weight: 700;

}

.results-header a {
  text-decoration: none;
}


.task-list-section-number {
  display: table-cell;
  padding-right: 5px;
}

@media (min-width: 641px) {
  .task-list-section-number {
    min-width: 35px;
    padding-right: 0;
  }
}

.task-list-items {
  margin-bottom: 30px;
}

@media (min-width: 641px) {
  .task-list-items {
    margin-bottom: 60px;
  }
}

@media (min-width: 641px) {
  .task-list-items {
    padding-left: 35px;
  }
}

</style>

 <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
<section id="allContentHome" class="">
 
    
       

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds column-minimum">
       <h1 class="govuk-heading-xl">Start an apprenticeship</h1>
      <ol class="app-task-list" style="margin-top:0">
<!--            <p class="" style="margin-bottom:35px" >Use this step by step list to help you employ an apprentice:</p> -->
        <ol class="task-list">

        <li class="">
          <h2 class="app-task-list__section"><span class="task-list-section-number">1. </span>
         Secure funding</h2>
        <!--   <p style="padding-left:35px">You can get help from the government to pay for apprenticeship training.<br /> You will need to claim your funding in advance.</p> -->
          <ul class="app-task-list__items"  style="">

<!--             <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance/reserve/new" aria-describedby="eligibility-completed">
               How much does an apprenticeship cost?
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li> -->

            <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance/reserve/new" aria-describedby="eligibility-completed">
               Secure funding for taking on an apprentice
              </a>
              <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
            </li>
            <li class="app-task-list__item " id="claimMyFunding">
              <a class="app-task-list__task-name" href="./finance/changeReserve" aria-describedby="eligibility-completed">
               View and manage your funds
              </a>

            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section"><span class="task-list-section-number">2. </span>
            Find an apprenticeship
          </h2>
            <!--      <p style="padding-left:35px">Find the right apprenticeship for your business and find a training provider to deliver the training. You can save your searches.</p> -->
          <ul class="app-task-list__items" >
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find" aria-describedby="company-information-completed">
                Find apprenticeship training and get costs
              </a> 
         
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedApprenticeships">
                View your saved apprenticeships
              </a>

            </li>
          </ul>
        </li>

      <li>
          <h2 class="app-task-list__section"><span class="task-list-section-number">3. </span>
            Find a training provider
          </h2>
<!--          <p style="padding-left:35px">Find training providers to deliver training and save them to a list. You can give saved training providers permission to carry out tasks on your behalf.</p> -->
          <ul class="app-task-list__items" style="">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./find/findaprovider" aria-describedby="contact-details-completed">
                Find training providers
              </a>
           
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./savedProviders">
                View your training providers 
              </a>

            </li>
          </ul>
       </li>

       <li>
          <h2 class="app-task-list__section"><span class="task-list-section-number">4. </span>
             Recruit an apprentice
          </h2>
<!--           <p style="padding-left:35px">Advertise your apprenticeships and view current applications you have been sent.</p> -->
          <ul class="app-task-list__items" style="">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="recruit/step-1">
                Advertise an apprenticeship
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="recruit/vacancies">
                Manage current vacancies
              </a>
   
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="recruit/applications">
                View current applications
              </a>

            </li>
          </ul>
       </li>

       <li>
          <h2 class="app-task-list__section"><span class="task-list-section-number">5. </span>
          Add an apprentices
          </h2>
    <!--       <p style="padding-left:35px">Manage apprentices in your account.</p> -->
          <ul class="app-task-list__items" style="padding-left:35px">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/add">
                Add a new apprentice
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="./apprentices/reviewApprove">
                Review and approve new apprentices
              </a>
            </li>
<!--              <li class="app-task-list__item">
              <a class="app-task-list__task-name"  href="./apprentices/manage">
                View your current apprentices
              </a>
            </li> -->
          </ul>
       </li>
      </ol>
    </div>
  </li>
                    <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel"  style="">
                                    <p>You do not have any tasks</p>
                                </div>
                            </div>
                        </section>
                    </div>
  </div>
</ol>
</div>
</div>
</section>
</main>
</div>

</section>
</main>


{% endblock %}
