{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version19/epaoNav.html" %}
{% include "includes/version19/financeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="finish">
            <h1 class="govuk-heading-xl">Confirm gateway payment</h1>


                  <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ;">
            
            </a>
          </dd>
        </div>

                 <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          Alex Swordy
          </dd>
        </div>

                      <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Unique learner number
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          5389106499
          </dd>
        </div>

         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Organisation
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          Cyberdyne Inc
          </dd>
        </div>

             <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Apprenticeship 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Financial Services Administrator: Level 3

          </dd>
 <!--          <dd class="app-check-your-answers__change">
            <a href="../courseComplete" style="font-weight:400; ">
              Change
            </a>
          </dd> -->
        </div>


        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Training end date
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          August 2021
          </dd>

        </div>

       <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
          Total price
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          £2,500
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
          Gateway payment
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          £500
          </dd>
        </div>
        </div>


   

<!-- This only shows if the user has come from the enter and EPAO name and cost route  -->
<!-- This is set in routes.js line 2946! - /// EPAO > Enter costs only  > confirm page  -->
<!-- 
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           End point assessment organisation 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
               {{ data['epao-name'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="../chooseEPAO" style="font-weight:400; ">
              Change
            </a>
          </dd>
        </div> -->


<!--                 <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Cost of apprenticeship training
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           £{{ data['price'] }}
          </dd>

          <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->


   <!--        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd> -->
<!--         </div>

         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Total cost
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
            £{{ data['epaoTotalCost'] }}
          </dd> -->

     <!--      <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              <span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->

<!--         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
             Reference (optional)
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
            {{ data['reference'] }}
          </dd>

           <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->

      </dl>
    </div>
  </fieldset>


<div class="govuk-warning-text" style="width:66%">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Your employer and training provider must have agreed to the apprentice being ready for gateway for you to claim the payment.
  </strong>
</div>


<!--             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-form-group">
                <label class="govuk-label   govuk-label--s" for="reference">
                    Reference (optional)
                </label>
                <span id="reference-hint" class="govuk-hint">
                    Add a reference, such as employee number or location - this won't be seen by the training provider
                </span>
                <input class="govuk-input" id="reference" name="reference" type="text" aria-describedby="reference-hint" />
            </div> -->

         <!--    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" /> -->

            <button type="submit" class="govuk-button">Claim payment </button>
              <a  class="govuk-button clear-button" href="../EPAOPipeline" >Cancel</a>
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}