{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version19/epaoNav.html" %}
{% include "includes/version19/requestsNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-full">
            <form method="get" action="finishTick">
                <h1 class="govuk-heading-xl">Confirm apprentices</h1>
          <!--          <h2 class="govuk-heading-m">Apprenticeship details</h2> -->
               <!--  <dl class="app-check-your-answers app-check-your-answers--short">
                 
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
                        </dd>
                        <dd class="app-check-your-answers__change">
                            <a href="add-apprentice" style="font-weight:400; ;">
                            </a>
                        </dd>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Organisation
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            Cyberdyne Inc
                        </dd>
                    </div>
                     <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Apprenticeship
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            Financial Services Administrator: Level 3
                        </dd>
                    </div>
                  </dl>
          
            <dl class="app-check-your-answers app-check-your-answers--short">
                 <h2 class="govuk-heading-m" style="margin-top:35px">Personal details</h2>  
                    <div class="app-check-your-answers__contents">
                   
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Name
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            David Piggins
                        </dd>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Unique Learner Number
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            1829856585
                        </dd>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style="font-weight:400; ">
                            End of training
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            December 2020
                        </dd>
                    </div>
  
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style="font-weight:400; ">
                            Cost of endpoint assessment
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            £2,735
                        </dd>
                </dl>
                            <dl class="app-check-your-answers app-check-your-answers--short">
                 <h2 class="govuk-heading-m" style="margin-top:35px">Personal details</h2>  
                    <div class="app-check-your-answers__contents">
                   
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Name
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                              Vanessa Lu
                        </dd>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
                            Unique Learner Number
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            7134322227
                        </dd>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style="font-weight:400; ">
                            End of training
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            December 2020
                        </dd>
                    </div>
  
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question" style="font-weight:400; ">
                            Cost of endpoint assessment
                        </dt>
                        <dd class="app-check-your-answers__answer" style="font-weight:700; ">
                            £2,506
                        </dd>
                </dl> -->


                <table class="govuk-table ">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                             
                                    <th class="govuk-table__header" scope="col" style="width:130px">Employer</th>
                                    <th class="govuk-table__header" scope="col" style="width:190px">Training provider</th>
                                    <th class="govuk-table__header" scope="col" style="width:290px" >Standard</th>
                                    <th class="govuk-table__header govuk-table__header--numeric pad80" scope="col" >Quantity</th>
                                     <th class="govuk-table__header govuk-table__header--numeric pad80" scope="col" style="width:100px">Training end date</th>
                                      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Price per EPA</th>
                                 <!--    <th class="govuk-table__header" scope="col" style="width:180px"></th> -->
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row" id="May18">
                                    <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                                    <td class="govuk-table__cell" scope="row">ABC training Ltd</td>
                                    <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3</td>
                                     <td class="govuk-table__cell govuk-table__cell--numeric pad80">4</td>
                                      <td class="govuk-table__cell govuk-table__cell--numeric pad80">4/2020</td>
                                         <td class="govuk-table__cell govuk-table__cell--numeric">£735</td>
                                </tr>


                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Weyland-Yutani</td>
                                     <td class="govuk-table__cell" scope="row">A1 training Ltd</td>
                                    <td class="govuk-table__cell" scope="row">Software developer: Level 4</td>
                                      <td class="govuk-table__cell govuk-table__cell--numeric pad80">22</td>
                                       <td class="govuk-table__cell govuk-table__cell--numeric pad80">7/2020</td>

                                    <td class="govuk-table__cell govuk-table__cell--numeric">£1,200</td>
                                </tr>
                            </tbody>
                        </table>

        </div>
        </fieldset>
</div>
<button type="submit" class="govuk-button">Add apprentices </button>
<a class="govuk-button clear-button" href="../ticks">Cancel</a>
</form>
</div>
</div>
</main>
</div>
{% endblock %}