{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version15/epaoNav.html" %}
{% include "includes/version15/outcomeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Record an outcome</h1>
                <p>Record the outcome of an end-point assessment.</p>
                 <h2 class="govuk-heading-m"> Before you start</h2>
                 <p>You must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>do the thing</li>
<!--                     <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
 -->                    <!-- <li>make sure the organisation that's named on the contract you have with your training provider is in your account - <a href="#"> view organisations in this account</a></li>
                    <li>make sure the PAYE scheme that each apprentice is paid through is in your account - <a href="#">view PAYE schemes in this account</a></li> -->
                </ul>
            <a href="EPAOOutcomes/search"  class="govuk-button govuk-button--start">Start</a>
            </div>
        </div>
    </main>
    {% endblock %}