{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version14/epaoNav.html" %}
{% include "includes/version14/outcomeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="partialFinish">
            <h1 class="govuk-heading-xl">Confirm a partial assessment</h1>

<!-- <h2 class="govuk-heading-m" style="margin-top:35px">Apprenticeship</h2> -->
                  <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
           
          </dd>
  
        </div>
         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           Name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Vanessa Lu
          </dd>

        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
ULN          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           0125312351
          </dd>
  
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
           First bit
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
          Completed
          </dd>

        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
Second bit          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Completed
          </dd>
  
        </div>



        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
           Third bit
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
Not completed          </dd>

        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; ">
Fourth bit        </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; ">
           Not completed
          </dd>

        </div>
            
      </dl>
                    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Government will pay you based on these answers, you will get into trouble if the answers are wrong
  </strong>
</div>
            <button type="submit" class="govuk-button">Submit </button>
              <!-- <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel and return</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}