{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version14/epaoNav.html" %}
{% include "includes/version14/financeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}
<style>

.pad80 {padding-right:80px;}


</style>
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<!--div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../../accounts">Your Accounts</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../{{employer.id}}">{{ employer.name }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../finance">Finance</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transactions</li>
    </ol>
</div-->



<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Pipeline
                    <!--  <span class="govuk-caption-xl">May 2018</span> -->
                </h1>
                <!--                 <div class="govuk-panel govuk-panel--confirmation" style="background:#912b88; padding:0; height:105px; width:50%">
                    <h2 class="govuk-panel__title" style="text-align:left; margin:10px 0 0px 10px">£170,000</h2>
                    <div class="">
                        <p style="text-align:left; color:#fff;margin:5px 0 10px 15px; font-weight:700; font-size:19px; "> Current Funds</p>
                    </div>
                </div> -->
                <div class="js-tabs nav-tabs" style="margin-top:35px">
                    <ul class="tabs-nav" id="tabs-nav" role="tablist">
                        <li class="active">
                            <a href="#PAYE" role="tab" id="tab-PAYE">Awaiting review</a>
                        </li>
                        <li class="">
                            <a href="#transactions" role="tab" id="tab-transactions">Approved</a>
                        </li>
                        <li class="">
                            <a href="#rejected" role="tab" id="tab-transactions">Rejected</a>
                        </li>
                    </ul>
                </div>
                <div class="js-tab-content tab-content">
                    <div class="js-tab-pane tab-pane" id="PAYE">
                        <h2 class="govuk-heading-l" style="margin:15px 0 25px 0 ">Awaiting review</h2>
                        <table class="govuk-table ">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Employer</th>
                                    <th class="govuk-table__header" scope="col" style="width:350px">Standard</th>
                                    <th class="govuk-table__header govuk-table__header--numeric pad80" scope="col">Quantity</th>
                                  <!--   <th class="govuk-table__header govuk-table__header--numeric" scope="col">Price</th> -->
                                    <th class="govuk-table__header" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row" id="May18">
                                    <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                                    <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric pad80">4</td>
                               <!--      <td class="govuk-table__cell govuk-table__cell--numeric">£2,735</td> -->
                                    <td class="govuk-table__cell" scope="row">
                                        <a href="EPAOApprovals/epaoApprovalsDetails">Details</a>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Tyrell Corp</td>
                                    <td class="govuk-table__cell" scope="row">Mechatronics Engineer: Level 7</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric pad80">5</td>
                       <!--              <td class="govuk-table__cell govuk-table__cell--numeric">£2,500</td> -->
                                    <td class="govuk-table__cell" scope="row">
                                        <a href="#">Details</a>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Lex Corp</td>
                                    <td class="govuk-table__cell" scope="row">Aeronautics Engineer: Level 6</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric pad80">1</td>
                           <!--          <td class="govuk-table__cell govuk-table__cell--numeric">£2,506</td> -->
                                    <td class="govuk-table__cell" scope="row">
                                        <a href="#">Details</a>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell" scope="row">Weyland-Yutani</td>
                                    <td class="govuk-table__cell" scope="row">Software developer: Level 4</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric pad80">2</td>
                     <!--                <td class="govuk-table__cell govuk-table__cell--numeric">£2,506</td> -->
                                    <td class="govuk-table__cell" scope="row">
                                        <a href="#">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                       <div class="js-tab-pane tab-pane" id="transactions">
                             <h2 class="govuk-heading-l" style="margin:15px 0 15px 0 ">Approved</h2>


                <table class="govuk-table ">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Name</th>
                            <th class="govuk-table__header" scope="col">ULN</th>
                                    <th class="govuk-table__header" scope="col" style="width:250px">Standard</th>
                             <th class="govuk-table__header" scope="col">Company</th>
                     
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">End date</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Price</th> 
                   <!--          <th class="govuk-table__header " scope="col">Status</th> -->
                            <th class="govuk-table__header" style="width:100px" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" id="May18">
                            <td class="govuk-table__cell" scope="row">David Piggins</td>
                            <td class="govuk-table__cell" scope="row">1829856585</td>
                           
                            <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3
</td>
                            <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12/2020</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£2,735</td>
              <!--                <td class="govuk-table__cell" scope="row">Thing</td> -->
                            <td class="govuk-table__cell" scope="row"> <a href="#">Do a thing</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Alex Swordy</td>
                            <td class="govuk-table__cell" scope="row">5389106499</td>
                                                       
                            <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3
</td>
                            <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">08/2021</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£2,500</td>
                             <td class="govuk-table__cell" scope="row"> <a href="#">Do a thing</a></td>
              <!--                <td class="govuk-table__cell" scope="row">Thing</td> -->
                        <!--     <td class="govuk-table__cell" scope="row">
                                  <a href="#">Approve</a> or  <a href="#">Reject</a>
                            </td> -->
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Vanessa Lu</td>
                            <td class="govuk-table__cell" scope="row">7134322227</td>
                                                   
                            <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3
</td>
                            <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12/2020</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£2,506</td>
                             <td class="govuk-table__cell" scope="row"> <a href="#">Do a thing</a></td>
               <!--               <td class="govuk-table__cell" scope="row">Thing</td> -->
                       <!--      <td class="govuk-table__cell" scope="row">
                                <a href="#">Approve</a> or  <a href="#">Reject</a>
                            </td> -->
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">Andrew Jenkins</td>
                            <td class="govuk-table__cell" scope="row">2490550125</td>
                                                     
                            <td class="govuk-table__cell" scope="row">Financial Services Administrator: Level 3
</td>
                            <td class="govuk-table__cell" scope="row">Cyberdyne Inc</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">01/2021</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£2,506</td>
                             <td class="govuk-table__cell" scope="row"> <a href="#">Do a thing</a></td>
        <!--                      <td class="govuk-table__cell" scope="row">Thing</td> -->
                        <!--     <td class="govuk-table__cell" scope="row">
                                <a href="#">Approve</a> or  <a href="#">Reject</a>
                            </td> -->
                        </tr>
    
                    </tbody>
                </table>



                    </div>
                     <div class="js-tab-pane tab-pane" id="rejected">
                             <h2 class="govuk-heading-l" style="margin:15px 0 15px 0 ">Rejected</h2>

                    </div>
                </div>



                </div>
            </div>
    </main>
</div>
<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk
$(document).ready(function() {
    // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.
    $("ul#tabs-nav li").click(function(e) {
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum + 1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child(" + nthChild + ")").addClass("active");
        }
    });
});

$('ul.tabs-nav').each(function() {
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');
    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
    // $active.addClass('active');
    console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function() {
        $(this.hash).hide();
    });

    // Bind the click event handler
    $(this).on('click', 'a', function(e) {
        // Make the old tab inactive.
        //  $active.removeClass('active');
        $content.hide();

        // Update the variables with the new link and content
        //  $active = $(this);
        $content = $(this.hash);

        // Make the tab active.
        // $active.addClass('active');
        $content.show();

        // Prevent the anchor's default click action
        e.preventDefault();
    });
});
</script> 
{% endblock %}