{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version6/provider/providerNav.html" %}
  {% include "includes/version6/provider/homeNav.html" %}
  {% from "back-link/macro.njk" import govukBackLink %} 

{{ govukBackLink({ text: "Back", href: "../home" }) }}
{% endblock %}
{% block content %}

<style>

.details-list .govuk-table__header {
    width:260px;
}
</style>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Assurance Aerospace Ltd</h1>
        <table class="govuk-table details-list" >
<div style="margin-top:75px">

        </div>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Status</td>
                        <td class="govuk-table__cell" scope="row">Unstarted by employer</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Account</td>
                        <td class="govuk-table__cell" scope="row">Assurance Aerospace</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Name</td>
                        <td class="govuk-table__cell" scope="row">William Gill</td>
                         <td class="govuk-table__cell" scope="row"><a href="#">Change</a></td>
                </tr>
                    <td class="govuk-table__header" scope="row">Employer email</td>
                        <td class="govuk-table__cell" scope="row">william@assuranceaero.com</td>
                         <td class="govuk-table__cell" scope="row"><a href="#">Change</a></td>
                </tr>


                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Agreement ID</td>
                        <td class="govuk-table__cell" scope="row">Agreement not completed</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Permissions</td>
                          <td class="govuk-table__cell " scope="row">None set </td>
                          <td class="govuk-table__cell" scope="row"></td>
                </tr>
<!--                 <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Training start date</td>
                        <td class="govuk-table__cell" scope="row">1 Aug 2018</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Training end date</td>
                        <td class="govuk-table__cell" scope="row">1 Jan 2020</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Total cost of training</td>
                        <td class="govuk-table__cell" scope="row">£9,000</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__header" scope="row">Reference</td>
                        <td class="govuk-table__cell" scope="row"></td>
                </tr> -->
            </tbody>
        </table>

    </div>

</div>
    <form action="#" method="get" class="form">
      <button class="govuk-button">Resend invite email to employer</button>
    </form>

</div>
</div>
</div>
</main>


{% endblock %}