{% extends "layout.html" %}


{% block beforeContent %}

{% endblock %}

{% block content %}
 <style> 
.govuk-header__content {display:none ;}
</style>

      <!--form  method="get" class="form"-->
<!--         <h2 class="govuk-heading-xl" style="margin-bottom:30px"> Have you found a provider to deliver the apprenticeship training? </h2> -->
<div class="govuk-width-container">
  <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
          Account created
    </div>
    <div style="margin-top:35px"></div>
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 <p>Your account has been created, you are now able to do the thing.</p>
 <p>Message should change if they have skipped the agreement and/or the tax details</p>

   <form action="employerStartedEmployerHaveProvider" method="get" class="form">
        <div id="addTheError" class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading" style="margin-top:25px">
           Have you found a provider to deliver the apprenticeship training?
            </h2>
          </legend>

          <span id="gatewayError" class="govuk-error-message rj-dont-display">
               have provider
          </span>

          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-1" name="whatsNeeded" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="needed-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-2" name="whatsNeeded" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="needed-2">
                No, not yet
              </label>
<!--               <span  class="govuk-hint" style="padding-left:15px; width:66%">
                    You will need to add at least one PAYE scheme before you can get government funds for your apprenticeships
              </span> -->
            </div>
          </div>
          </fieldset>
        </div>

    <button class="govuk-button">Continue</button>

</form>

    </div>
  </div>
{% endblock %}
