{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}  {% include "includes/version1/financeNav.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{{ govukBackLink({
  text: "Back",
  href: "./"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review requested funds 
      </h1>

      <h2 class="govuk-heading-s">
        Reservation details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px;">
           Organisation
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
          Assurance Aerospace Ltd
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
              Change
            </a>
          </dd>
        </div>

<!--         <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; font-size:16px">
           Apprenticeship 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            {{ data['funding'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="chooseApp" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div> -->

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Apprenticeship reserved between
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
               01 Sept 2019 and 30 Nov 2019
       
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="reserveStartDate" style="font-weight:400; font-size:16px">
              Change<span class="#"></span>
            </a>
          </dd>
        </div>
      </dl>

       <!-- <h2 class="govuk-heading-s" style="margin-top:35px">
        Funding details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
                     <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px">
            Funds expiry date
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
                28 February 2020  {{ data['stard-month'] }} <span style="padding-left: 2px"></span> {{ data['stard-year'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
             
            </a>
          </dd>
        </div> -->
        <!-- <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Total cost of reserved<br />apprenticeship training
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            £9,000
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
             
            </a>
          </dd>
        </div>

                <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Total  of reserved funds
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            £8,100
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
             
            </a>
          </dd>
        </div> -->

  <!--       <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px">
            Maximum cost to you 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            £900 
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
            
            </a>
          </dd>
        </div>
      </dl> -->
<div style="margin-top:25px"></div>
      <a class="govuk-button" href="howRecruiting" role="button">
        Use funds
      </a>
      <a class="govuk-button delete-button" style="float:right" <a href="#">Delete reserved funds</a>

    </div>
  </div>
</main>
</div>

{% endblock %}
