{% extends "layout.html" %} {% block beforeContent %}   {% from "govuk/components/back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back",  href: "javascript:history.back()" }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="chooseProvider/providernamelist" method="get" class="form">
                    <h1 class="govuk-heading-xl" style="">Find a training provider by name</h1>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group">
                                <label class="govuk-label  bold-label" for="firstName">Enter a training provider name
</label>
                                <!--span id="email-hint" class="govuk-hint">
                                            Can include job title or apprenticeship
                                </span-->
                                <input class="govuk-input govuk-!-width-three-quarters" id="search" name="search" type="text" aria-describedby="search" >
                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Search</button>
                </form>
                      <p>Results will be listed below</p>
            </div>
      
        </div>
    </main>
</div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script>
$("#appShortlistRemove").click(function(e) {
    $("#dialog-1").attr("aria-hidden", "false")
    //            e.preventDefault();
    //location.replace("appShortlistRemove.html");

})
</script>
{% endblock %}