{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %}
{% include "includes/version1/homeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}
<link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" />
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl" style="margin-bottom:5px">Search results</h1>
                <p style="margin:5px 0 5px 0; width:66%">There are <span style="font-weight:700">2</span> end-point assessment organisations and <span style="font-weight:700">4</span> training providers for the <span style="font-weight:700">Financial Services Administrator, level 3</span> apprenticeship</span>.</p>
                <p style="margin:15px 0 5px 0">Results are ordered by distance from<span style="font-weight:700"> 'EN5 4BX'.</span></p>

            </div>
        </div>




<div class="js-tabs nav-tabs" style="margin-top:35px">
    <ul class="tabs-nav" id="tabs-nav" role="tablist">
        <li class="active">
            <a href="#PAYE" role="tab" id="tab-PAYE">Training providers</a>
        </li>
        <li class="">
            <a href="#transactions" role="tab" id="tab-transactions">End-point assessment organisations</a>
        </li>
    </ul>
</div>
<div class="js-tab-content tab-content">
    <div class="js-tab-pane tab-pane" id="PAYE">

<H3 class="govuk-heading-m" style="margin: 25px 0 25px 0; display:inline-block">Filter results </H3>

<div class="govuk-form-group" id="resultCount" style="display:inline-block; float:right">
    <!--label class="govuk-label inline" style="display:inline-block; margin-right:10px; font-weight:700;" for="sort">Sort by</label>
    <select class="govuk-select" id="sort" name="sort" style="display:inline-block; width:200px">
        <option value="match" selected>Best match</option>
        <option value="level-desc" >Level (high to low)</option>
        <option value="level-asc">Level (low to high)</option>
    </select-->
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-form filtering ">
            <div id="finder-frontend" class="">
                <div class="govuk-option-select js-collapsible">
                    <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
                        <div class="option-select-label">Training options</div>
                        <div class="js-selected-counter"></div>
                    </button>
                    <div class="govuk-form-group options-container" style="margin-bottom:0; max-height:900px">
                        <div style="margin: 15px 0 20px 10px">
                            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="level-2" name="levels" type="checkbox" value="level-2">
                                        <label class="govuk-label govuk-checkboxes__label" for="level-2">
                                            day release (3)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="level-3" name="levels" type="checkbox" value="level-3">
                                        <label class="govuk-label govuk-checkboxes__label" for="level-3">
                                            block release (0)
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="level-4" name="levels" type="checkbox" value="level-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="level-4">
                                            at your location (2)
                                        </label>
                                    </div>

                                </div>
                        </div>
                        </fieldset>
                        <details class="govuk-details" style="margin: 15px 0 20px 10px">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                          Explain training options
                        </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p><span style="font-weight:700">Day release:</span> for example one day a week at the training provider's location.</p>

                                <p><span style="font-weight:700">Block release:</span> for example 3-4 weeks at the training provider's location.</p>

                                <p><span style="font-weight:700">At your location:</span> the training provider comes to your workplace.</p>
                      </div>
                    </details>
                    </div>
                </div>
            </div>
          </div>

<div class="filter-form filtering ">
            <div id="finder-frontend" class="">
                <div class="govuk-option-select js-collapsible">
                    <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
                        <div class="option-select-label">National training providers</div>
                        <div class="js-selected-counter"></div>
                    </button>
                    <div class="govuk-form-group options-container" style="margin-bottom:0; max-height:900px">
                        <div style="margin: 15px 0 20px 10px">
                            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="national" name="levels" type="checkbox" value="national">
                                        <label class="govuk-label govuk-checkboxes__label" for="national">
                                            national providers (1)
                                        </label>
                                    </div>
  
                                </div>
                        </div>
                        </fieldset>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>

               <div class="govuk-grid-column-two-thirds">
                       <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="../proDetails">CYBERDYNE INC</a> </h2>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> 13 miles away</p>
                            <div class="govuk-inset-text margintop10 marginbottom10 " style="">
                              TOWER HAMLETS COLLEGE, Poplar Centre, Poplar High Street, TOWER HAMLETS, GREATER LONDON, E14 0AF
                            </div>
                            <p style="min-width:135px;" class=""><span style="font-weight:700">Training options:</span> day release</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Employer satisfaction:</span> 77%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Learner satisfaction:</span> 83%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Achievement rate:</span> no data available</p>
                    <!--div class="shortlist app"><i class="fa fa-star-o "></i><span>Save</span></div-->
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="proDetails">CENTRAL TRAINING ACADEMY</a> </h2>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> 40.4 miles away</p>
                            <div class="govuk-inset-text margintop10 marginbottom10 " style="">
                              CENTRAL GRAPHICS ACADEMY LIMITED, 44 Alexandra Street, Southend-On-Sea, SOUTHEND, Essex, SS1 1BJ
                            </div>
                            <p style="min-width:135px;" class=""><span style="font-weight:700">Training options:</span> day release, at your location</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Employer satisfaction:</span> 94%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Learner satisfaction:</span> 88%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Achievement rate:</span> no data available</p>
                    <!--div class="shortlist app"><i class="fa fa-star-o "></i><span>Save</span></div-->
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                      <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="proDetails">
Warwickshire College Group</a> </h2>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> 71.9 miles away</p>
                            <div class="govuk-inset-text margintop10 marginbottom10 " style="">
                              Home or Work, Warwick New Road, Leamington Spa, Warwickshire, CV32 5JE
                            </div>
                            <p style="min-width:135px;" class=""><span style="font-weight:700">Training options:</span> day release, </p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Employer satisfaction:</span> 72%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Learner satisfaction:</span> 80%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Achievement rate:</span> no data available</p>
                    <!--div class="shortlist app"><i class="fa fa-star-o "></i><span>Save</span></div-->
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                        <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="proDetails">
WILTSHIRE COLLEGE</a> </h2>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> 79.3 miles away</p>
                            <div class="govuk-inset-text margintop10 marginbottom10 " style="">
                              Home or Work, Warwick New Road, Leamington Spa, Warwickshire, CV32 5JE
                            </div>
                            <p style="min-width:135px;" class=""><span style="font-weight:700">Training options:</span> at your location </p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Employer satisfaction:</span> 82%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Learner satisfaction:</span> 74%</p>
                            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Achievement rate:</span> no data available</p>
                    <!--div class="shortlist app"><i class="fa fa-star-o "></i><span>Save</span></div-->
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                </div>
            </div>
    </div>

    <div class="js-tab-pane tab-pane" id="transactions">
        <H3 class="govuk-heading-m" style="margin: 25px 0 25px 0; display:inline-block">Filter results </H3>
        <div class="govuk-form-group" id="resultCount" style="display:inline-block; float:right">
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="filter-form filtering ">
                    <div id="finder-frontend" class="">
                        <div class="govuk-option-select js-collapsible">
                            <button class="js-container-head" type="button" aria-expanded="false" aria-controls="case_state">
                                <div class="option-select-label">National EPAOs</div>
                                <div class="js-selected-counter"></div>
                            </button>
                            <div class="govuk-form-group options-container" style="margin-bottom:0; max-height:900px">
                                <div style="margin: 15px 0 20px 10px">
                                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                        <div class="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="national" name="levels" type="checkbox" value="national">
                                                <label class="govuk-label govuk-checkboxes__label" for="national">
                                                    national EPAOs (1)
                                                </label>
                                            </div>
                                        </div>
                                </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="epaDetails">ABC EPA Ltd</a> </h2>
                <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> 13 miles away</p>
                <p style="margin-top:15px">TOWER HAMLETS COLLEGE, Poplar Centre, Poplar High Street, TOWER HAMLETS, GREATER LONDON, E14 0AF</p>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="#">CYBERDYNE Assessments</a> </h2>
                <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Distance:</span> National</p>
                <!--            <p style="min-width:135px; margin:0" class=""><span style="font-weight:700">Availability:</span> Local</p> -->
                <p style="margin-top:15px">
                    CENTRAL GRAPHICS ACADEMY LIMITED, 44 Alexandra Street, Southend-On-Sea, SOUTHEND, Essex, SS1 1BJ
                </p>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
    </div>
</div>







        </div>
    </div>
</main>
</div>

<script>
//jquery that runs the tabs. Uses the jquery.tabs.js from gov.uk

$(document).ready(function() {

    // change the tabs themselves to active - should be in the above but isn't working because it's looking for a not li so I added this as a quick fix.

    $("ul#tabs-nav li").click(function(e) {
        if (!$(this).hasClass("active")) {
            var tabNum = $(this).index();
            var nthChild = tabNum + 1;
            $("ul#tabs-nav li.active").removeClass("active");
            $(this).addClass("active");
            $("ul#tabs-nav li.active").removeClass("active");
            $("ul#tabs-nav li:nth-child(" + nthChild + ")").addClass("active");
        }
    });
});

$('ul.tabs-nav').each(function() {
    // For each set of tabs, we want to keep track of
    // which tab is active and its associated content
    var $active, $content, $links = $(this).find('a');

    // If the location.hash matches one of the links, use that as the active tab.
    // If no match is found, use the first link as the initial active tab.
    $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
    // $active.addClass('active');
    console.log($active)

    $content = $($active[0].hash);

    // Hide the remaining content
    $links.not($active).each(function() {
        $(this.hash).hide();
    });

    // Bind the click event handler
    $(this).on('click', 'a', function(e) {
        // Make the old tab inactive.
        //  $active.removeClass('active');
        $content.hide();

        // Update the variables with the new link and content
        //  $active = $(this);
        $content = $(this.hash);

        // Make the tab active.
        // $active.addClass('active');
        $content.show();

        // Prevent the anchor's default click action
        e.preventDefault();
    });
});
</script> 

{% endblock %}