{% extends "layout.html" %}

{% block content %}

<script>
/*
// putting this here so i don't forget it.

  //store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(){
              // save the form info to local storage by first putting the data into an object
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

            //store the users email address in a cookie to repeat back to them later. Remember that we have some of the data stored in an object in local storage as well -  so we'll use that again if we need it.
            document.cookie =  "emailAddress="  + userDetails.email 
            // shows the cookie in the console log to check it is working
            console.log (document.cookie)

        // not needed at the moment

              //hide the login form
              //$('#login').addClass('hidden');
              //show the quiz
           // $('#wrapper').removeClass('hidden')
    });
*/
</script>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">Assurance Aerospace Engineering
      <span class="govuk-caption-l">Account ID: RVRD8V</span></h1>
            <!--script>document.getElementById('company-Name').innerText = JSON.parse(localStorage.getItem('company-name-header'));</script-->
             <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div style="max-width:90%">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m" style="margin-top:0 "><a href="./team">Your team</a></h3>
                            <p class="rj-home-spacer">Control what your team can do and invite new team members.</p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m rj-top-border-mobile" style="margin-top:0;"><a href="./finance">Finance</a></h3>
                            <p>View your financial transactions, connect with other employers and send or receive transfer funds.</p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="./orgs">Your organisations and agreements</a></h3>
                            <p>Add your organisations that will make contracts with training providers.</p>
                        </div>
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="./paye">PAYE schemes</a></h3>
                            <p class="rj-home-spacer">Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                             <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px  "><a href="./apprentices">Apprentices</a></h3>
                            <p class="rj-home-spacer rj-bottom-border-mobile ">Add or remove PAYE schemes.</p>
                        </div>
                        <div class="govuk-grid-column-one-half ">
                            <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href="./find">Find apprenticeship training</a></h3>
                            <p class="rj-home-spacer">Search for apprenticeships and see details of approved providers who can deliver the training.</p>
                        </div>
                    </div>
                     <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <h3 class="govuk-heading-m rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px">Recruitment </h3>
                            <p class="rj-home-spacer rj-bottom-border-mobile ">Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprentice.</p>
                        </div>
                        <div class="govuk-grid-column-one-half ">
                       <h3 class="govuk-heading-m rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"> </h3>

                        </div>
                    </div>
                </div>
            </div>
              <div class="govuk-grid-column-one-third">
                  <section>
                      <nav style="height:47px">
                          <ul class="js-tabs" role="tablist">
                              <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                          </ul>
                      </nav>
                      <div class="panes">
                          <div class="js-tab-pane" id="pane-tasks" role="tabpanel" aria-hidden="false" style="display: block;">
                              <p>You do not have any tasks</p>
                          </div>
                      </div>
                  </section>

              </div>
            </div>



        </div>
</div>
    
{% endblock %}