{% extends "layout.html" %} 
{% block beforeContent %} 
{% include "includes/version1/mainNav.html" %}  {% include "includes/version5/recruitNav.html" %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back", href: "vacancySummary" }) }} 
{% endblock %} 
{% block content %}

<script type="text/javascript">
    // var providerStartedJourney = JSON.parse(localStorage.getItem('registration.providerStartedJourney'));
        //  window.location.href='vacancySummary'; use this to return without setting anything or saving it. 

function whereNow() {
    localStorage.setItem("recruit.briefOverview", JSON.stringify("added"));
    document.getElementById("briefOverviewForm").submit();

 </script>



<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class=" govuk-grid-column-two-thirds">
            <form method="get" action="vacancySummary" id="briefOverviewForm">
                <h1 class="govuk-heading-xl">Brief overview</h1>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="recruitWorkingDay">
                        Describe a typical working day and duties
                    </label>
                    <span id="recruitWorkingDay" class="govuk-hint">
                    What does the apprenticeship involve?
                  </span>
                    <textarea class="govuk-textarea" id="recruitWorkingDay" name="recruitWorkingDay" rows="6" aria-describedby="recruitWorkingDay-hint" value="">{{ data['recruitWorkingDay'] }}</textarea>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="recruitWhatTraining">
What training will your apprentice get?
                    </label>
                    <span id="recruitWhatTraining" class="govuk-hint">
This should include training at work and off the job
                  </span>
                    <textarea class="govuk-textarea" id="recruitWhatTraining" name="recruitWhatTraining" rows="6" aria-describedby="recruitWhatTraining-hint" value="">{{ data['recruitWhatTraining'] }}</textarea>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="recruitWhatGetAtEnd">
What can the apprentice expect at the end of the apprenticeship?
                    </label>
                    <span id="recruitWhatGetAtEnd" class="govuk-hint">
You may want to mention specific routes they could take once qualified
                  </span>
                    <textarea class="govuk-textarea" id="recruitWhatGetAtEnd" name="recruitWhatGetAtEnd" rows="6" aria-describedby="recruitWhatGetAtEnd-hint" value="">{{ data['recruitWhatGetAtEnd'] }}</textarea>
                </div>
        </div>
        </fieldset>
</div>
<button type="submit" onclick="whereNow()" class="govuk-button">Save and return </button>
<a  class="govuk-button clear-button" href="vacancySummary" >Cancel </a>
</form>
</div>
</div>
</main>
</div>


{% endblock %}