{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version6/provider/providerNav.html" %}
  {% include "includes/version6/provider/homeNav.html" %}
  {% from "back-link/macro.njk" import govukBackLink %} 

{{ govukBackLink({ text: "Back", href: "searchOrgResults" }) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Review registration
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-s">
        User details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
               <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px;">
          Name
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
            {{ data['providerRegisterFirstName'] }} {{ data['providerRegisterLastName'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="contactDetails" style="font-weight:400; font-size:16px;">
              Change
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="font-weight:400; font-size:16px">
          Email address
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
            {{ data['providerRegisterEmail'] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="contactDetails" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-s" style="margin-top:35px">
        Company details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
                     <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px">
            Company 
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
                  {{ data['orgName'] }}<br />No 2 Lochrin Square<br />96 Fountainbridge<br />Edinburgh<br />EH3 9QA


          </dd>
<dd class="app-check-your-answers__change">
            <a href="searchOrg" style="font-weight:400; font-size:16px">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
<!--                 <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; font-size:16px">
            Company address
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px">
                 arse
          </dd>
<dd class="app-check-your-answers__change">
            <a href="reserveStartDate" style="font-weight:400; font-size:16px">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div> -->
  


      </dl>



<!--       <dl class="app-check-your-answers app-check-your-answers--short">
                             <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style=" font-weight:400; font-size:16px;">
           
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:16px;">
           
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px;">
            
            </a>
          </dd>
        </div>
              <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question" style="width:45%; font-weight:700; font-size:19px">
            Funding reserved
          </dt>
          <dd class="app-check-your-answers__answer" style="font-weight:700; font-size:19px">
            £8,100
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#" style="font-weight:400; font-size:16px">
            
            </a>
          </dd>
        </div>
      </dl> -->

<!--       <h2 class="govuk-heading-m" style="margin-top:55px">Now submit your request</h2>
      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p> -->

      <a class="govuk-button" href="finish" role="button">
        Continue
      </a>

    </div>
  </div>
</main>
</div>

{% endblock %}
