{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version6/provider/providerNav.html" %}
  {% include "includes/version6/provider/homeNav.html" %}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <section id="allContentHome" class="">
            <div class="govuk-grid-row">
                <h1 class="govuk-heading-xl rj-headings-border" style="" id="company-Name">QA Ltd
      <span class="govuk-caption-l">UKPRN: 10003375</span></h1>
                <!--script>document.getElementById('company-Name').innerText = JSON.parse(localStorage.getItem('company-name-header'));</script-->
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div style="max-width:90%">
                            <ol class="app-task-list" style="margin-top:0">
                                <li class="">
                                    <h2 class="app-task-list__section"> <!-- <a href="./finance"> -->Employers<!-- </a> --></h2>
                                    <p style="">You can create an employer account for employers that don't have one yet.</p>
                                    <ul class="app-task-list__items" style="padding-left:0">
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount" aria-describedby="eligibility-completed">Add a new account for an employer</a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/manage" aria-describedby="eligibility-completed">
               View and manage your employers
              </a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <!-- <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./finance/changeReserve" aria-describedby="eligibility-completed">
               View and manage your reserved funding
              </a>
                                            <strong class="govuk-tag app-task-list__task-completed " style="min-width:60px; text-align: center; " id="claimMyFundingComplete">3</strong>
                                        </li> -->
                                    </ul>
                                </li>

                                        <li class="">
                                    <h2 class="app-task-list__section"> <!-- <a href="./finance"> -->Reserve an apprenticeship<!-- </a> --></h2>
                                    <p style="">You can reserve funding on behalf of an employer that has given you permission to do this.</p>
                                    <ul class="app-task-list__items" style="padding-left:0">
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">How reserved funding works</a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/reserveFunding/reserveMVS/chooseEmployer" aria-describedby="eligibility-completed">Reserve funding </a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/reserveFunding/changeReserveMVS/chooseEmployer" aria-describedby="eligibility-completed">View and manage your reserved funding</a>
                                            <strong class="govuk-tag app-task-list__task-completed " style="min-width:60px; text-align: center; " id="claimMyFundingComplete">767</strong>
                                        </li>
                                    </ul>
                                </li>

                                     <li class="">
                                    <h2 class="app-task-list__section"> <!-- <a href="./finance"> -->Recruit apprentices<!-- </a> --></h2>
                                    <p style="">You can recruit, manage vacancies, create shortlists and notify candadtes if your employer has given you these permissions.</p>
                                    <ul class="app-task-list__items" style="padding-left:0">
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/recruit/chooseEmployerAdd" aria-describedby="eligibility-completed">Create a new vacancy</a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/recruit/chooseEmployerManage" aria-describedby="eligibility-completed">Manage current vacancies</a>
                                            <strong class="govuk-tag app-task-list__task-completed " id="claimMyFundingComplete" style="min-width:60px; text-align: center; ">55</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/recruit/applications/chooseEmployerApps" aria-describedby="eligibility-completed">View current applications</a>
                                            <strong class="govuk-tag app-task-list__task-completed " style="min-width:60px; text-align: center; " id="claimMyFundingComplete">87</strong>
                                        </li>
                                    </ul>
                                </li>


                                     <li class="">
                                    <h2 class="app-task-list__section"> <!-- <a href="./finance"> -->Add and manage apprentices<!-- </a> --></h2>
                                    <p style="">You can add and manage apprentices that are doing the thing.</p>
                                    <ul class="app-task-list__items" style="padding-left:0">
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/addApprentices/" aria-describedby="eligibility-completed">Add an apprentice</a>
                                            <strong class="govuk-tag app-task-list__task-completed rj-dont-display" id="claimMyFundingComplete">Completed</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./employerAccount/addApprentices/reviewApprove" aria-describedby="eligibility-completed">Review and approve new apprentices</a>
                                            <strong class="govuk-tag app-task-list__task-completed " id="claimMyFundingComplete" style="min-width:60px; text-align: center; ">55</strong>
                                        </li>
                                        <li class="app-task-list__item " id="claimMyFunding">
                                            <a class="app-task-list__task-name" href="./manage" aria-describedby="eligibility-completed">View your current apprentices</a>
                                            <strong class="govuk-tag app-task-list__task-completed " style="min-width:60px; text-align: center; " id="claimMyFundingComplete">87</strong>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
         <!--                    <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m" style="margin-top:0 "><a href="proCohorts">Your cohorts</a></h3>
                                    <p class="rj-home-spacer">Review, edit, approve and add apprentices to new cohorts.</p>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <h3 class="govuk-heading-m rj-top-border-mobile" style="margin-top:0;"><a href="./manage">Manage your apprentices</a></h3>
                                    <p>View and update approved apprentice records.</p>
                                </div>
                            </div> -->
   <!--                          <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half" style="border-bottom: 1px solid #bfc1c3;">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0;padding-top:35px;   "><a href="orgsAndAgree">Organisations and agreements</a></h3>
                                    <p>Find and view organisations and their agreement IDs.</p>
                                </div>
                                <div class="govuk-grid-column-one-half ">
                                    <h3 class="govuk-heading-m rj-top-border" style="margin-top:0; padding-top:35px"><a href=""></a></h3>
                                    <p class="rj-home-spacer"></p>
                                </div>
                            </div> -->
<!--                     <h2 class="govuk-heading-m" style="margin-top:55px">Instructions for the apprentices' employer</h2>
                    <p>Employers need to register to <a href="#">manage their apprenticeship funds.</a></p>
                    <p>Once they've registered they need to:</p>
                    <ol class="govuk-list govuk-list--number" style="font-size:16px">
                          <li>Add the PAYE schemes that the apprentices will be paid through.</li>
                          <li>Added the employer organisations that will contract with the training provider.</li>
                          <li>Sign agreements for their organisations so that they can spend levy funds.</li>
                          <li>Add apprentices to their account so they can authorise payments to you.</li>
                    </ol> -->
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <section>
                            <nav style="height:47px">
                                <ul class="js-tabs" role="tablist">
                                    <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks" class="selected">Tasks</a></li>
                                </ul>
                            </nav>
                            <div class="panes">
                                <div class="js-tab-pane" id="pane-tasks" role="tabpanel" aria-hidden="false" style="display: block;">
                                    <p>You do not have any tasks</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
</div>
    
{% endblock %}