{% extends "layout.html" %}
{% block beforeContent %}



{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <form action="registeredLite" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Activate your account
        </h1>
        <p>An email has been sent to {{ data['email'] }}. It'll contain 6-character code that you'll need to activate your account.
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-three-quarters bold-label" for="firstName">
                 Enter activation code
              </label>
              <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
              <input class="govuk-input govuk-!-width-three-quarters" id="firstName" name="firstName" type="text" aria-describedby="First Name">
          </div>
          </fieldset>
        </div>

        <button class="govuk-button" style="margin-bottom:10px">Activate account</button>

      </form>
  <!--   <h3 class="govuk-heading-s">Not received an email? </h3> -->
    <a href="#">Resend code</a>
    <div class="govuk-inset-text">
You must activate your account within 30 days of receiving your activation code. After 30 days your account will be deleted and you’ll need to register again.
</div>
    </div>

  </div>
{% endblock %}