{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% include "includes/RAALoggedIn.html" %}

<style>
@media (max-width: 641px) {
.metroLogo img {padding-left:20px;}
}
</style>

<div class="govuk-width-container">

        <div class="govuk-grid-row">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Registration complete
      </h1>
    </div>
    <div style="margin-top:35px"></div>

   
  <div class="govuk-grid-column-two-thirds" style="padding:0">

      <h2 class="govuk-heading-l">Registration complete</h2>

     
               

</div>
</main>
</div>

{% endblock %}