{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version6/provider/providerNav.html" %}
  {% include "includes/version6/provider/homeNav.html" %}
  
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl ">You cannot set up an account for this employer</h1>
           </div>
            <div class="govuk-grid-column-two-thirds">
                <p>You need to get permission from the employer so that you can continue and set up their account.  
</p>
                <p class="govuk-body">You need to contact them for this.  </p>
                <a href="../../provider/home" style="font-size:19px" >Return to the homepage</a>
            </div>
               
        </div>
    </main>
    {% endblock %}