{% extends "layout.html" %} {% block beforeContent %} {% include "includes/version1/mainNav.html" %} 

{% include "includes/version1/financeNav.html" %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %} 

{{ govukBackLink({   href: "javascript:history.back()" }) }} 
{% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl ">Reserve funding to train and assess an apprentice</h1>
           </div>
            <div class="govuk-grid-column-two-thirds">
                <p>To reserve funding, you will need:</p>

           
   
                <ul class="govuk-list govuk-list--bullet">
                    <li>the month you expect the apprenticeship training to start</li>
                    <li>the <a href="">apprenticeship training course</a> the apprentice will take, which can be changed later</li>
       <!--              <li>you can reserve a maximum of £24,000 of funding at one time. --> 
<!--                     <li>find training providers who offer the apprenticeship training you choose</li>
                    <li>find a named training provider you want to use</li> -->
                </ul>
       <!--          <p>You can only get funding up to 6 months before an apprenticeship is about to start.</p> -->
                <div style="margin-top:35px"></div>
            <a href="EPAOReserve/chooseOrganisation"  class="govuk-button govuk-button--start">Start</a>
                          <!--   <h2 class="govuk-heading-m " >Help</h2>
                <p> You can contact the National Apprenticeship Service for advice or help using the service.</p>
                    <h2 class="govuk-heading-s " style="margin-bottom:0">National Apprenticeship Service</h2>
                <p> Telephone: 0800 015 0600 <a href="#"> Find out about call charges</a></p> -->
            </div>
<!--             <div class="govuk-grid-column-one-third">

                                 <div class="" style="padding-left:0; width:100%;  border: 4px solid #6f777b; " >
                         <div style="background-color:#fff; min-height:120px" >
                            <h2 class="govuk-heading-s" style="color: #000; margin: 15px 0 0px 15px; font-size:19px">Funds reserved</h2>
                                <h2 id="numberOfApprentices" class="govuk-heading-l" style="  margin: 5px 0 5px 15px"><span style="">£</span>8,100</h2>  
                              <p style="margin:0"><a href="./changeReserve" style="font-size:16px; margin: 0px 0 0 15px">View details</a></p>   
                        </div>
                    </div>

                    <div class="" style="padding-left:0; width:100%;  border: 4px solid #6f777b; margin-top:25px" >
                         <div style="background-color:#fff; min-height:120px" >
                            <h2 class="govuk-heading-s" style="color: #000; margin: 15px 0 0px 15px; font-size:19px">Available to reserve</h2>
                                <h2 id="numberOfApprentices" class="govuk-heading-l" style="  margin: 5px 0 0px 15px"><span style="">£</span>15,900</h2>  
                                <p style="margin:0 0 0 15px; font-size:16px">This is the amount you have left to reserve.</p>
                        </div>
                    </div>

   
            </div> -->

        </div>
    </main>
    {% endblock %}