 {% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}
  {% include "includes/version1/homeNav.html" %} {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }} {% endblock %} {% block content %}

  <script src="/public/javascripts/accordion.js"></script>



<script>
  function whereNow() {
  var status = $('input[name=choosePartner]:checked').val();
       switch (true) {
          case  (status == 'true'):
                 window.location.href='providersearch';
                break;

        case  (status == 'false'):
       window.location.href='epa/epaosearch';
            break

        default:
             console.log('gyahhhhhhhh, bork bork bork')
             $(gatewayError).removeClass("rj-dont-display");
            $(addTheError).addClass("govuk-form-group--error");
            break;
        }
    }
 </script>


 <script>

// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {

    document.addEventListener('DOMContentLoaded', function() {

        var accordions = document.querySelectorAll('.accordion')

        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };

    })

}
</script>

<style>
.data-list dd, .data-list dt  {margin-bottom:0;}

</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="">
                    <h1 class="govuk-heading-xl" style="margin-bottom:15px">Financial services administrator</h1>
   <!--                  <h3 class="govuk-heading-l" style="color:#6f777b">Level 3 (equivalent to A levels at grades A to E) </h3> -->
                    <span class="govuk-caption-l" style="margin-bottom:25px">Level 3 (equivalent to A levels at grades A to E)</span>
                    <p class="">This information is taken from an apprenticeship framework. It sets out what qualifications the apprentice can achieve.
                    </p>
                </div>
            </div>
<!--             <form action="providersearch">
                <div class="govuk-grid-column-one-third weird-floating-button" style="text-align:center">
                    <button type="submit" class="govuk-button" style="margin-bottom:15px">Find training providers</button>
                      
                    <div><a href="EPA/epaosearch" class="shortlistButton" name="funding" value="Financial services administrator" style="font-size:19px; "><span style="padding-left:5px">Find an end-point assessor</span></a></div>

                

                </div>
            </form> -->
        </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">


<div class="accordion">
    <div class="accordion-section">
    <div class="accordion-section-header">
        <h2 class="govuk-heading-m">Duration</h2>
    </div>
    <div class="accordion-section-body">
               <p style="margin:0px 0 0 0 ">This apprenticeship typically takes 12 months to complete</p>
          
    </div>
</div>
    <div class="accordion-section">
    <div class="accordion-section-header">
        <h2 class="govuk-heading-m">Current funding band</h2>
    </div>
    <div class="accordion-section-body">
               <p style="margin:0px 0 0 0 ">Maximum cost of training:<span style="padding-left:140px; font">£8,000 per apprentice </span></p>
                            <p id="coInvestPayer" style="margin:0">Maximum cost of end point assessment: <span style="padding-left:20px">£1,000 per apprentice</span></p>
                            <p id="coInvestPayer" style="margin:0px 0 10px 0 ; font-weight:700">Maximum total cost:<span style="padding-left:173px; font-weight:700">£9,000 per apprentice</span></p>
      
                            <a href="https://www.gov.uk/guidance/employing-an-apprentice-technical-guide-for-employers#funding-for-your-apprenticeship" target="_blank">More information about funding</a>
    </div>
</div>



<div class="accordion-section">
    <div class="accordion-section-header">
        <h2 class="govuk-heading-m">Entry requirements </h2>
    </div>
    <div class="accordion-section-body">
        <p> Your chosen training provider can advise you about entry requirements for apprentices.</p>
    </div>
</div>


    <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Suitable roles for apprentices </h2>
        </div>
        <div class="accordion-section-body">
    
                <ul class="govuk-list govuk-list--bullet" style="margin-top:0">
                    <li>Assistant Copywriter</li>
                    <li>Desktop Publishing Assistant</li>
                    <li>Junior Graphic Designer</li>
                    <li>Junior Product Designer</li>
                    <li>Technical Illustrator</li>
                </ul>
                <div>
                   <p> Your chosen training provider can advise you about the kinds of skills apprentices will learn.</p>
                </div>
          
            <div style="clear:both"></div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
    </div>


    <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Qualifications </h2>
        </div>
        <div class="accordion-section-body">
       
                            <div class="qualifications">
                                <div class="competencyQualifications">
                                    <p>Apprentices will achieve a practical (or 'competence') qualification:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>NVQ Diploma in Design</li>
                                    </ul>
                                </div>
                                <div class="knowledgeQualifications">
                                    <p>Apprentices will also achieve a theory-based (or 'knowledge') qualification:</p>
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>90-credit Diploma in Art and Design</li>
                                        <li>BTEC Diploma in Art and Design</li>
                                        <li>BTEC Subsidiary Diploma in Art and Design</li>
                                        <li class="default-hidden" style="display: none;">Diploma in Art &amp; Design - Foundation Studies</li>
                                        <li class="default-hidden" style="display: none;">Diploma in Art and Design</li>
                                        <li class="default-hidden" style="display: none;">Extended Diploma in Art and Design</li>
                                        <a href="#" class="showmore">Show more</a>
                                    </ul>
                                </div>
                            </div>
                            <p class="qualificationsStatic">Your chosen training provider can advise you about the qualifications open to apprentices as they can change depending on individual and other circumstances.</p>
                  
        </div>
    </div>

        <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Professional registration </h2>
        </div>
        <div class="accordion-section-body">
                    <p>None specified.</p>
        </div>
    </div>


</div>
<form action="changePermissionsRecruit" method="get" class="form">
                <div id="addTheError" class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h2 class="govuk-fieldset__heading" style="margin-top:25px">
           Do you want to find a delivery partner?
            </h2>
          </legend>

          <span id="gatewayError" class="govuk-error-message rj-dont-display">
               Do you want to do this now?

          </span>

          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-1" name="choosePartner" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="needed-1">
              Yes, find training providers
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-2" name="choosePartner" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="needed-2">
              Yes, find end-point assessment organisations
              </label>
<!--               <span  class="govuk-hint" style="padding-left:15px; width:66%">
                    You will need to add at least one PAYE scheme before you can get government funds for your apprenticeships
              </span> -->
            </div>
          </div>
          </fieldset>
        </div>
 </form>
    <button class="govuk-button" onClick="whereNow()">Continue</button> <!-- <a  class="govuk-button clear-button" href="./cyberdyne" >Cancel and return</a> -->

 </div>


 
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <!--div class="container shortlist panel panel-width-thin">

                            <a href="proSearch" class="findProviders button"><i class="fa fa-search hidden" style="margin-right: 5px;"></i>Find training providers</a>

                            <a href="#" class="shortlist app shortlistButton"><i class="fa fa-star-o "></i><span>Shortlist this apprenticeship</span></a>

                        </div-->
                    </div>
                </div>
            </section>
    </main>
    </div>
    {% endblock %}