{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% include "includes/RAALoggedIn.html" %}


<div class="govuk-width-container">

        <div class="govuk-grid-row">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Application submitted
      </h1>
    </div>
    <div style="margin-top:35px"></div>

   
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Similar to your application</h2>
     <!--    <p class="govuk-body">
           You need to do the thing         
        </p> -->
<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
                <div class="twoFlexContainer">
                    <div class="twoFlexItem" style="padding-left:0">
                        <h2 class="govuk-heading-m results-header" style="margin-bottom:5px"><a href="#">Financial Customer Service Specialist</a> 
                            <span id="reference-hint" class="govuk-hint" style="margin-bottom:5px; margin-top:5px;">
                                Metro Bank Plc</span>
                        </h2>
                    </div>
                    <div class="twoFlexItem">
                        <div class="metroLogo">
                            <img src="/public/images/metro.png" alt="metro bank logo" height=75% width=75%>
                        </div>
                    </div>
                </div>
                <p>Metro Bank Plc are looking to recruit a Financial Customer Service Specialist Apprentice in their Contact Centre to assist with duties such as greeting customers and creating fans, finding solutions for customers and advising them on our service etc.</p>
                <div>

                 <div class="" style="margin-top:25px">
                        <div class="flex-support-meta">
                            <div class=" " style="margin-right:25px; width: 125px">
                                <p style="margin-bottom:0">Apprenticeship:</p>
                            </div>
                           <div class="WideMobile175" style=" ">
                                <p style="margin-bottom:0">Business Admin - Level 3, Equivalent to A-levels</p>
                            </div>
                        </div>
                       <div class="flex-support-meta">
                            <div class=" " style="margin-right:20px;  width: 125px">
                                <p style="margin-bottom:0">Journey time:</p>
                            </div>
                            <div class="WideMobile175" style="  ">
                                <p style="margin-bottom:0">25 mins to 1 hour</p>
                            </div>
                        </div>
             
                        <div class="flex-support-meta">
                            <div class=" " style="margin-right:20px; width: 125px ">
                                <p style="margin-bottom:0">Wage:</p>
                            </div>
                        <div class="WideMobile175" style=" ">
                                <p style="margin-bottom:0">£18,000.00 per year</p>
                            </div>
                        </div>
                </div>

                </div>
            </div>
            <div style="clear:both"></div>
<!-- <form action="recruitVacancySubmittedWhatsNext" method="get" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label  govuk-label--m" for="uk-provider-reference-number">
                    What's next?
              </label>   
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-true" name="confirmTraining" type="radio" value="another" checked="true">
              <label class="govuk-label govuk-radios__label" for="confirmation-true">
                Add another vacancy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="recruitHome">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                See all vacancies
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="home">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                Return to homepage
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>
    </form> -->

</div>
</main>
</div>

{% endblock %}