{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% include "includes/RAALoggedIn.html" %}


<div class="govuk-width-container">

        <div class="govuk-grid-row">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
      Application submitted
      </h1>
    </div>
    <div style="margin-top:35px"></div>

   
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">What happens next?</h2>
        <p class="govuk-body">
           You need to do the thing         
        </p>

<!-- <form action="recruitVacancySubmittedWhatsNext" method="get" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label  govuk-label--m" for="uk-provider-reference-number">
                    What's next?
              </label>   
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-true" name="confirmTraining" type="radio" value="another" checked="true">
              <label class="govuk-label govuk-radios__label" for="confirmation-true">
                Add another vacancy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="recruitHome">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                See all vacancies
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="home">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                Return to homepage
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>
    </form> -->

</div>
</main>
</div>

{% endblock %}