{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}

{% include "includes/RAALoggedIn.html" %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">Your location</h1>
 <!--   <p>Your CV has been uploaded and will be used for your application to Business Admin Apprentice with Central Financial Services</p> -->
        <form action="location">
          <fieldset class="govuk-fieldset">



  <div class="govuk-form-group">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h2 class="govuk-fieldset__heading">
      Where in England do you live?
    </h2>

          <span id="email-hint" class="govuk-hint  govuk-!-width-three-quarters" style="margin-bottom:5px">
             Town, city or postcode
            </span>
  </legend>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-england" name="address-england" type="text">
  </div>

<!--   <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div> -->

</fieldset>


       
            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
