{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}

{% include "includes/RAALoggedIn.html" %}

<style>
    input[type="file"] {
    display: none !important;
}




.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 8px 10px;
    font-size:19px;
    cursor: pointer;
    display:inline-block;
    font-family: "GDS Transport", Arial, sans-serif;
}

@media (max-width: 641px) {

.custom-file-upload {
   font-size:16px;
}
    }



/* THIS CAN ACTUALLY BE STYLED BETTER USING CSS PSEDO ELEMENTS BUT I FOUND IT OUT AFTER 

e.g. */

/*::-webkit-file-upload-button {
  background: black;
  color: red;
  padding: 1em;
}
*/

</style>

<script>
   //  $('#file-upload').bind('change', function() { var fileName = ''; fileName = $(this).val(); $('#file-selected').html(fileName); })
   function showname() { var name = document.getElementById('file-upload'); document.getElementById("file-selected").innerHTML = name.files.item(0).name; };
</script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Choose a CV to upload</h1>
        <p class="govuk-body">Before uploading your CV you should make sure that:</p>
            <ul class="govuk-list govuk-list--bullet">
                  <li>it is a .docx, doc, .pdf or .txt file</li>
                  <li>the filesize is not more than 2.5Mb</li>
                 
            </ul>
        <!--  <p>You </p> -->
        <!--                <span id="waste-hint" class="govuk-hint">
                                     The information you provide will help us personalise your experience and will not used for anything else
                                    </span> -->
        <form action="confirmCV">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">Upload a CV</h2>
            </legend>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label for="file-upload" class="custom-file-upload govuk-button--secondary" >
                       <!--  <i class="fa fa-cloud-upload"></i>  -->Choose a CV to upload
                    </label>
                    <p style="display:inline-block; padding-left:15px"><span id="file-selected" name="file-selected" ></span> </p>
                    <input id="file-upload" onchange="showname()" type="file" name="file-upload" />
                </fieldset>
            </div>


<!--                   <label class="custom-file-upload">  <input id="files-upload" style="display:block; margin-bottom:35px" type="file" multiple></label> -->            
                    <!--     <input class="button" id="search-provider" type="submit" value="Check for errors"> -->
                    <button class="govuk-button">Upload CV</button>
        </form>
    </div>
</div>
{% endblock %}
