{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   

{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
         <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Permissions updated
  </h1>
<!--   <div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div> -->
</div>
                <h1 class="govuk-heading-l" style="margin-top:35px" id="company-Name">What's next?</h1>               


<p><a href="">Return to home</a>

</div>
</div>
</div>
{% endblock %}