{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}



<style>
.data-list dd, .data-list dt  {margin-bottom:0;}
</style>

<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
            <div class="do-a-thing"></div>
{% else %}
            <div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->

 {% include "includes/RAALoggedIn.html" %} 
<!-- <div class="info-summary">
    <h3 class="heading-medium"></h3>
    <p>Last saved at 3:00:10 PM on 4/12/2019 to <a href="myApplications">my applications</a></p>
</div> -->
       

<div style="clear:both"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="">
            <h1 class="govuk-heading-xl" style="">Application form</h1>
       

        </div>
        <h1 class="govuk-heading-l" style="margin-top:25px">Business admin apprentice    <span id="reference-hint" class="govuk-hint" style="font-size:19px">
                    Central Financial Services
                </span></h1>
     <p>To efficiently undertake basic adminstration and clerical duties</p>
     <p><a href="busAdminApprentice">View apprenticeship</a></p>
    </div>
</div>






</div>

{% endblock %}