{% extends "layout.html" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<style>
.flex-container {
    display: flex;
}

.myappsContainer {
    max-width: 165px;
}
</style>
<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
<div class="do-a-thing"></div>
{% else %}
<div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->
{% include "includes/RAALoggedIn.html" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="">My applications</h1>
    </div>
    <!--     <div class="govuk-grid-column-one-third">
        <p><a href="./apprenticeshipsearch">Find an apprenticeship</a></p>
    </div> -->
</div>
<!-- <p class="desktopInline" ><span class="appsThings">1</span><a href=""> Submitted</a></p>
<p class="desktopInline" ><span  class="appsThings">1</span><a href=""> Saved</a></p>
<p class="desktopInline applicationsSpacing" ><span class="appsThings">2</span><a href=""> Withdrawn</a></p> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
        <h2 class="govuk-heading-m" style="">Saved applications</h2>
        <div class="flex-container">
            <div class="">
                <p class="" style="padding:0 5px 0 0; margin-bottom:0px"><a href="busAdminApprentice">Business Admin Aprentice </a></p>
                 <span class="govuk-caption-m" style="padding-top: 3px">Central Financial Services</span>
                
            </div>
        </div>
        <p class="govuk-body-s" style="padding-top:3px"><span style="font-weight:700; padding-right:25px">Closing date:</span> 04 April 2020</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m" style="">Saved searches</h2>
        <div class="flex-container">
            <div class="">
                <p class="" style="padding-right:5px; margin-bottom:5px"><a href="">Business Admin  </a></p>
             <p class="" style="padding-right:5px; margin-bottom:5px"><a href="">Business Admin, Level 3 in London</a></p>
                
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m" style="">Submitted applications</h2>
        <div class="flex-container">
            <div class="">
                <p class="" style="padding: 0 5px 0 0; margin-bottom: 0"><a href="">Financial Services Customer Adviser </a></p>
                <span class="govuk-caption-m" style="padding-top: 3px">Icici Bank</span>
          
<!--             <div class="myappsContainer">
                <p class="" style="padding:0 5px"><a href="">View application</a></p>
            </div> -->
        
                <p class="govuk-body-s" style="padding-top:3px; margin-bottom: 0"><span style="font-weight:700; padding-right: 17px">Submitted on:</span> 04 April 2020</p>
                  <p class="govuk-body-s" style="padding-top:3px"><span style="font-weight:700; padding-right:63px">Status:</span> Being reviewed</p>
        </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
   

        <h2 class="govuk-heading-m" style="">Withdrawn applications</h2>
               <p class="" style="padding: 0 5px 0 0; margin-bottom: 0"><a href="">Customer Adviser </a></p>
                <span class="govuk-caption-m" style="padding-top: 3px">Cyberdyne Inc</span>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  
</div>
</div>
</main>
</div>
{% endblock %}