{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/financeNav.html" %}
{% endblock %} {% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
   Funding secured for this apprenticeship
      </h1>
      <div class="govuk-panel__body">
        
      </div>
    </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Employer </th>
          <td class="govuk-table__cell">Assurance Aerospace Ltd</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Apprenticeship training </th>
          <td class="govuk-table__cell">   {{ data['funding'] }}</td>
        </tr>
<!--         <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Total cost of reserved apprenticeship training </th>
          <td class="govuk-table__cell">£8,100</td>
        </tr> -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Apprenticeship training start date </th>
          <td class="govuk-table__cell"> {{ data['acceptedRecruit'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="govuk-grid-column-two-thirds">
      <p>You can <a href="">print this confirmation</a> screen to show your training provider that you have secured funding.</p>
          <h2 class="govuk-heading-l">Making changes</h2>
<p>You can change the apprenticeship training course when you add an apprentice’s details.</p>
<p>You cannot change the apprenticeship start date, outside of the 3 month window you selected. To select a different apprenticeship start date, you will need to start again and secure new funding.</p>

 <h2 class="govuk-heading-m">What you need to do now</h2>
 <p>If you know who your apprentice and training provider will be, you can add the apprentice’s details.</p>
<p>If you do not know who the apprentice or training provider will be, follow these steps:</p>

PUT A LIST IN BELOW

<p>Find an apprentice. You can use our recruitment service to find an apprentice
Find a training provider. Use the find apprenticeship training service to find a training provider who offers the course you would like.
Add your apprentice’s details</p>



<form action="finishedReserveFundingDan" method="get" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label  govuk-label--m" for="uk-provider-reference-number">
                   Do you want to add an apprentice now?

              </label>   
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-true" name="confirmTraining" type="radio" value="hire" checked="true">
              <label class="govuk-label govuk-radios__label" for="confirmation-true">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="reserve">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
              No, not right now
              </label>
            </div>
<!--             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="view">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                View reserved funding
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="homepage">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
               Return to homepage
              </label>
            </div> -->
          </div>
        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>
    </form>

</div>
</main>
</div>

{% endblock %}