{% extends "layout.html" %}
{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% endblock %}
{% block content %}
  <script src="/public/javascripts/accordion.js"></script>
<!--script>

$(document).on('click', 'input[type="radio"]', function (e) {
  if ($(e.target).attr('id') === 'radio-3' || $(e.target).attr('id') === 'radio-4' || $(e.target).attr('id') === 'radio-5') 
  { $('#other-organisation-options').removeClass('js-hidden') ; } 
       else {$('#other-organisation-options').addClass('js-hidden');};
});

</script-->
<script>
// uncomment this to turn on the accordions

if (
    'addEventListener' in document &&
    document.querySelectorAll
) {
    document.addEventListener('DOMContentLoaded', function() {
        var accordions = document.querySelectorAll('.accordion')
        for (var i = accordions.length - 1; i >= 0; i--) {
            new Accordion(accordions[i])
        };
    })
}
</script>
<style>
.accordion-controls{
    display:none;
}
</style>

<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
{% include "includes/RAALoggedIn.html" %}
{% else %}
{% include "includes/RAAUnloggedIn.html" %}
{% endif %}
<!-- end of conditional statement -->
<!-- <link href="/public/stylesheets/filtering.css" media="screen" rel="stylesheet" type="text/css" /> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="">Find an apprenticeship <span class="govuk-hint" style="font-size:20px; padding-top:8px">
                Search and apply for an apprenticeship in England
            </span></h1>

        <form method="get" action="../searchResults">
                    <div class="govuk-form-group">
                        <label class="govuk-label   govuk-label--s" for="partialCost">
                            Your location
                        </label>
                        <span id="reference-hint" class="govuk-hint">
                            Enter postcode, town or city 
                        </span>
                        <input class="govuk-input govuk-!-width-one-half" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
                    </div>
<div class="accordion" style="margin-bottom:25px">
    <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Employer </h2>
        </div>
        <div class="accordion-section-body">
                     <div class="govuk-form-group" style="margin-top:15px">
                        <label class="govuk-label   govuk-label--s" for="employer">
                           Employer 
                        </label>
                   <!--      <span id="reference-hint" class="govuk-hint">
                            Enter postcode, town or city 
                        </span> -->
                        <input class="govuk-input" id="employer" name="employer" type="text" aria-describedby="employer-hint" value="" />
                    </div>
        </div>
    </div>
        <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Job role </h2>
        </div>
        <div class="accordion-section-body">
            <div class="govuk-form-group" style="margin-top:15px">
                        <label class="govuk-label   govuk-label--s" for="partialCost">
                            Job role
                        </label>
                        <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 5px; width:100%">
                            <option value="All" selected>All</option>
                            <option value="Job title">Accountancy</option>
                            <option value="Description">Agriculture & Horticulture</option>
                            <option value="Employer">Animal care</option>
                            <option value="Ref. number">Arts</option>
                            <option value="Ref. number">Automotive</option>
                             <option value="Ref. number">Business & administration</option>
                             <option value="Ref. number">Catering & hospitality</option>
                             <option value="Ref. number">Childcare</option>
                             <option value="Ref. number">Cleaning & enviromental</option>
                             <option value="Ref. number">Constructionn</option>
                             <option value="Ref. number">Contact center</option>
                             <option value="Ref. number">Creative & digital media</option>
                             <option value="Ref. number">Customer service</option>
                             <option value="Ref. number">Dental</option>
                             <option value="Ref. number">Education & training</option>
                             <option value="Ref. number">Employability</option>
                             <option value="Ref. number">Engineering & manufacturing</option>                            
                              <option value="Ref. number">Environmental sciences</option>
                             <option value="Ref. number">Facilities management</option>                            
                              <option value="Ref. number">Fashion & textiles</option>
                             <option value="Ref. number">Financial services</option>
                               <option value="Ref. number">Firefighter</option>
                                 <option value="Ref. number">Food manufacturing</option>
                                   <option value="Ref. number">Hairdressing & beauty</option>
                                     <option value="Ref. number">Health & social care</option>
                                       <option value="Ref. number">Horse care</option>
                                         <option value="Ref. number">Human resources</option>
                                           <option value="Ref. number">Insurance</option>
                                             <option value="Ref. number">IT</option>
                                               <option value="Ref. number">Law</option>
                                                 <option value="Ref. number">Leisure</option>
                                                   <option value="Ref. number">Management & team leading</option>
                                 <option value="Ref. number">Martime & marine operation</option>
                                    <option value="Ref. number">Marketing</option>
                                     <option value="Ref. number">Media & publishing</option>
                                    <option value="Ref. number">Pharmaceutical</option>
                                    <option value="Ref. number">Playwork</option>
                                     <option value="Ref. number">Property services</option>
                                    <option value="Ref. number">Public services & emergency services</option>
                                    <option value="Ref. number">Social media & digital marketing</option>
                                    <option value="Ref. number">Telecommunications</option>
                                 <option value="Ref. number">Transport logistics</option>
                              <option value="Ref. number">Travel & tourism</option>
                                <option value="Ref. number">Veterinary nursing</option>
                                  <option value="Ref. number">Warehousing</option>
                        </select>
                    </div>
        </div>
    </div>
    <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Keywords </h2>
        </div>
        <div class="accordion-section-body">
                     <div class="govuk-form-group" style="margin-top:15px">
                        <label class="govuk-label   govuk-label--s" for="employer">
                           Keywords 
                        </label>
                        <span id="reference-hint" class="govuk-hint">
                            For instance skills, job titles or companies 
                        </span>
                        <input class="govuk-input" id="employer" name="employer" type="text" aria-describedby="employer-hint" value="" />
                    </div>
        </div>
    </div>
        <div class="accordion-section">
        <div class="accordion-section-header">
            <h2 class="govuk-heading-m">Levels </h2>
        </div>
        <div class="accordion-section-body">
                  <div class="govuk-form-group" style="margin-bottom:15px">
                          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <!--   <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                              <h1 class="govuk-fieldset__heading">
                                Which types of waste do you transport?
                              </h1>
                            </legend> -->
                            <span id="waste-hint" class="govuk-hint">
                              Select all that apply.
                            </span>
                            <div class="govuk-checkboxes">
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                <label class="govuk-label govuk-checkboxes__label" for="waste">
                                  Level 2 (equivalent to GCSE)
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                  Level 3 (equivalent to A-levels)
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                  Level 4 (Equivalent to HNC)
                                </label>
                              </div>
                                             <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                                  Level 5 (Equivalent to HND)
                                </label>
                              </div>
                                             <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                                  Level 6 (Equivalent to undergraduate degree)
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>
        </div>
    </div>
</div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <label class="govuk-label   govuk-label--s" for="partialCost">
                                Only show
                            </label>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                                        Disability confident
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button" style="">Search</button>
                   <!--  <a class="" href="confirm-training-provider">Reset search options </a> -->
                </form>
      <!--       </section> -->

     <!--   <section class="govuk-tabs__panel govuk-tabs__panel--hidden  " id="browse">
                <form method="get" action="employerList">
            
                    <div class="govuk-form-group">
                        <label class="govuk-label   govuk-label--s" for="partialCost">
                            Search by employer 
                        </label>
          
                        <input class="govuk-input" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
                    </div>
                </fieldset>


                    <button type="submit" class="govuk-button" style="">Search</button>
            
                </form>
            </section> -->
            <div style="margin-bottom:25px"></div>
        </div>
    </div>


    <div class="govuk-grid-column-one-third">
        <div style="border-top: 10px solid #005ea5; padding-top:5px"></div>
        <h3 class="govuk-heading-m" style="margin-top:10px">Help </h3>
        <p><a href="">How to search for an apprenticeship</a><br />(interactive walkthrough)</p>
        <p>0800 015 0400</p>
        <p><a href="">Contact us</a></p>
        <p><a href="">About apprenticeships</a></p>
        <p><a href="">Find a traineeships</a></p>
    </div>
</div>
</div>
</main>
</div>
<!-- <script src="/public/javascripts/newtabs.js"></script> -->

<!--                             <div class="govuk-radios govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="Agriculture, Horticulture and Animal Care">
                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                        Agriculture, Horticulture and Animal Care
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Arts, Media and Publishing
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Business, Administration and Law
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Construction, Planning and the Built Environment
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Education and Training
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Engineering and Manufacturing Technologies
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Health, Public Services and Care
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        History, Philosphy and Theology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Information and Communcation Technology
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Languages, Literature and Culture
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Leisure, Travel and Tourism
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Preperaton for Life and Work
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Retails and Commercial Enterprise
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="Arts, Media and Publishing">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Science and Mathematics
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="social-sciences">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Social Sciences
                                    </label>
                                </div>
                              </div>
                                <div class="govuk-form-group" style="margin-top:25px">
                                    <label class="govuk-label   govuk-label--s" for="partialCost">
                                        Your location
                                    </label>
                                    <span id="reference-hint" class="govuk-hint">
                                        Enter postcode, town or city or <a href="">use current location</a>
                                    </span>
                                    <input class="govuk-input" id="partialCost" name="partialCost" type="text" aria-describedby="FirstName-hint" value="" />
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label   govuk-label--s" for="partialCost">
                                        Within
                                    </label>
        
                                    <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 0px; ">
                                        <option value="2 miles" selected>2 miles</option>
                                        <option value="5 miles" selected>5 miles</option>
                                        <option value="15 miles">15 miles</option>
                                        <option value="20 miles">20 miles</option>
                                        <option value="30 miles">30 miles</option>
                                        <option value="40 miles">40 miles</option>
                                        <option value="England">England</option>
                                    </select></div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label   govuk-label--s" for="partialCost">
                                        Apprenticeship level
                                    </label>
                
                                    <select class="govuk-select" id="sort" name="sort" style="margin-bottom: 0px; ">
                                        <option value="All levels" selected>All levels</option>
                                        <option value="Intermediate" selected>Intermediate</option>
                                        <option value="Advanced">Advanced</option>
                                        <option value="Higher">Higher</option>
                                        <option value="Degree">Degree</option>
                                    </select></div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                        <label class="govuk-label   govuk-label--s" for="partialCost">
                                            Only show
                                        </label>
                                        <div class="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                                                <label class="govuk-label govuk-checkboxes__label" for="waste">
                                                    Disability confident
                                                </label>
                                            </div>
                                        </div>
                                </div>
                        </fieldset>
                    </div> -->
{% endblock %}