{% extends "layout.html" %} 
{% block beforeContent %} 
{% include "includes/version1/mainNav.html" %}  {% include "includes/version5/recruitNav.html" %} 
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back", href: "wholeList" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">
        <form method="get" action="vacancySummary">
            <h1 class="govuk-heading-xl">Organisation</h1>
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="more-detail">
          Tell us about your organisation


                  </label>
<!--                   <span id="more-detail-hint" class="govuk-hint">
                    Brief overview needs to be engaging to make the candidate want to view the full vacancy.

                  </span> -->
                  <textarea class="govuk-textarea" id="recruitTellOrg" name="recruitTellOrg" rows="6" aria-describedby="recruitTellOrg-hint" value="">{{ data['recruitTellOrg'] }}</textarea>
                </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="recruitWebsiteName">
                    Your organisation's website (optional)
                  </label>
              <input class="govuk-input govuk-!-width-one-half" id="recruitWebsiteName" name="recruitWebsiteName" type="text" value="{{ data['recruitWebsiteName'] }}">
            </div>

            <button type="submit" class="govuk-button">Save and return </button>
              <a  class="govuk-button clear-button" href="vacancySummary" >Cancel </a>
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}