{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %} {% include "includes/version5/recruitNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ text: "Back", href: "./" }) }}
{% endblock %}
{% block content %}

<style>
td {font-size: 16px}

</style>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                 <div class=" govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" >Your Vacancy</h1>
            <p class="">Enter all the information below to add your vacancy, you can review it before it is submitted. </p>
                 <table class="govuk-table">
                    <thead>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <!--tr>
                        <td class="govuk-table__cell">Organisation</td>
                        <td style="font-weight:700; font-size:19px">Limited company</td>
                        <td class="looks-like-a-link-underline">Change</td>
                      </tr-->
                      <h2 class="govuk-heading-s">Vacancy summary</h2>
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell restrictWidth" >What do you want to call this vacancy?</td>
                        <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px;">{{ data['vacancyName'] }}</td>
                        <td class="govuk-table__cell"> <a href="step1"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">How many positions do you have for this apprenticeship?</td>
                        <td class="govuk-table__cell" style="font-weight:700; font-size:16px;">{{ data['numberOfApprentices'] }}</td>
                       <td class="govuk-table__cell"> <a href="step1">Add</a></td>
                      </tr>
                    </tbody>
                </table>
                 <div style="margin-top:35px"></div>


                <table class="govuk-table">
                    <thead>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <h2 class="govuk-heading-s">Brief overview
</h2>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell restrictWidth" style="">Write a few sentences to describe your vacancy</td>
                            <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px;">{{ data['more-detail'] }}</td>
                           <td class="govuk-table__cell"> <a href="step2"> Add</a></td>
                        </tr>
                    </tbody>
                </table>


              <div style="margin-top:35px"></div>
                  <table class="govuk-table">
                      <thead>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <h2 class="govuk-heading-s">Training information</h2>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell restrictWidth">What you will do in your working day?</td>
                              <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px; ">{{ data['recruitWorkingDay'] }}</td>
                              <td class="govuk-table__cell"> <a href="step7"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">The training you will be getting</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitWhatTraining'] }}</td>
                              <td class="govuk-table__cell"> <a href="step7"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">What to expect at the end of your apprenticeship</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitWhatGetAtEnd'] }}</td>
                              <td class="govuk-table__cell"> <a href="step7"> Add</a></td>
                          </tr>

                      </tbody>
                  </table>



                 <div style="margin-top:35px"></div>
                  <table class="govuk-table">
                      <thead>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <h2 class="govuk-heading-s">Location</h2>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell restrictWidth">Which organisation is the vacancy for?</td>
                              <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px; ">{{ data['where-do-you-live'] }}</td>
                              <td class="govuk-table__cell"> <a href="step3"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Tell us about your organisation</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px; ">{{ data['recruitTellOrg'] }}</td>
                              <td class="govuk-table__cell"> <a href="step13"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Enter the address where the apprentice will work</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['addressOne'] }} <br />{{ data['addressTwo'] }} <br />{{ data['addressThree'] }} <br />{{ data['addressFour'] }} <br />{{ data['addressPost'] }}</td>
                              <td class="govuk-table__cell"> <a href="step3"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Contact details</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitContactName'] }}<br /> {{ data['recruitContactEmail'] }}<br /> {{ data['recruitContactNumber'] }}</td>
                              <td class="govuk-table__cell"> <a href="step12"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Website</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitWebsiteName'] }}</td>
                              <td class="govuk-table__cell"> <a href="step13"> Add</a></td>
                          </tr>
                      </tbody>
                  </table>

                <div style="margin-top:35px"></div>
                  <table class="govuk-table">
                      <thead>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <h2 class="govuk-heading-s">Requirements and prospects</h2>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell restrictWidth">Desired skills and personal qualities?</td>
                              <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px; "> {{ data['recruitSkills'] }}</td>
                              <td class="govuk-table__cell"> <a href="step9"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Qualifications</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitQual'] }}  {{ data['recruitSubject'] }}  {{ data['recruitEssDes'] }}</td>
                              <td class="govuk-table__cell"> <a href="step10"> Add</a></td>
                          </tr>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Things to consider (optional)</td>
                              <td class="govuk-table__cell" style="font-weight:700; font-size:16px">{{ data['recruitThingsToConsider'] }}</td>
                              <td class="govuk-table__cell"> <a href="step8"> Add</a></td>
                          </tr>
                      </tbody>
                  </table>

                <div style="margin-top:35px"></div>
                <table class="govuk-table"> 
                    <thead>
                      <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>

                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                      <h2 class="govuk-heading-s">Important dates</h2>
                       <tr class="govuk-table__row">
                        <td class="govuk-table__cell restrictWidth">Application closing date</td>
                        <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px;">{{ data['appclosing-day'] }} {{ data['appclosing-month'] }} {{ data['appclosing-year'] }}</td>
                        <td class="govuk-table__cell"> <a href="step4"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">When do you expect the apprentice to start?</td>
                        <td class="govuk-table__cell"  style="font-weight:700; font-size:16px">{{ data['recruitAppStart-day'] }} {{ data['recruitAppStart-month'] }} {{ data['recruitAppStart-year'] }} </td>
                        <td class="govuk-table__cell"> <a href="step4"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">Apprenticeship training</td>
                        <td class="govuk-table__cell"  style=";font-weight:700; font-size:16px; ">{{ data['recruitSearchApp'] }}</td>
                        <td class="govuk-table__cell"> <a href="step4"> Add</a></td>
                      </tr>
                                            <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">Disability Confident (optional)</td>
                        <td class="govuk-table__cell"  style=";font-weight:700; font-size:16px; ">{{ data['recruitDisabilityConfident'] }}</td>
                        <td class="govuk-table__cell"> <a href="step4"> Add</a></td>
                      </tr>
                    </tbody>
                </table>
                 <div style="margin-top:35px"></div>
                <table class="govuk-table"> 
                    <thead>
                      <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <h2 class="govuk-heading-s">Duration, working hours and pay</h2>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell restrictWidth" style="">How long is the apprenticeship expected to last?</td>
                        <td class="govuk-table__cell restrictWidth"  style="font-weight:700; font-size:16px; ">{{ data['recruitAppLength'] }} {{ data['apprenticeshipLength'] }} </td>
                        <td class="govuk-table__cell"> <a href="step5"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">Details of working week</td>
                        <td class="govuk-table__cell"  style="font-weight:700; font-size:16px; "> {{ data['recruitWorkingWeek'] }}</td>
                        <td class="govuk-table__cell"> <a href="step5"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">How many hours will the apprentice work each week, including training?</td>
                        <td class="govuk-table__cell"  style="font-weight:700; font-size:16px; ">{{ data['recruitAppLengthHours'] }} Hours</td>
                        <td class="govuk-table__cell"> <a href="step5"> Add</a></td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">What are you going to pay your apprentice?</td>
                        <td class="govuk-table__cell"  style="font-weight:700; font-size:16px; ">{{ data['recruitHowMuchPayApp'] }}</td>
                        <td class="govuk-table__cell"> <a href="step5"> Add</a></td>
                      </tr>
                       <tr class="govuk-table__row">
                        <td class="govuk-table__cell" style="">Additional information about pay (optional)</td>
                        <td class="govuk-table__cell"  style="font-weight:700; font-size:16px; ">{{ data['recruitAdditionalPayInfo'] }}</td>
                        <td class="govuk-table__cell"> <a href="step5"> Add</a></td>
                      </tr>
                    </tbody>
                </table>



                  <div style="margin-top:35px"></div>
                  <table class="govuk-table">
                      <thead>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <h2 class="govuk-heading-s">Training provider</h2>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell restrictWidth" style="">Training provider</td>
                              <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px; ">{{ data['recruitProviderName'] }}</td>
                              <td class="govuk-table__cell"> <a href="step14"> Add</a></td>
                          </tr>

                      </tbody>
                  </table>

                <div style="margin-top:35px"></div>
                  <table class="govuk-table">
                      <thead>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <h2 class="govuk-heading-s">Application process</h2>
                          <tr class="govuk-table__row">
                              <td class="govuk-table__cell restrictWidth">How will the candidates apply for this vacancy?</td>
                              <td class="govuk-table__cell restrictWidth" style="font-weight:700; font-size:16px; ">{{ data['recruitAppProcess'] }} <br /> {{ data['recruitAppProcessExternalWeb'] }}  <br /> {{ data['recruitAppProcessExternalExtra'] }}</td>
                              <td class="govuk-table__cell"> <a href="step15"> Add</a></td>
                          </tr>

                      </tbody>
                  </table>

              <form action="vacancySummary">
                <button type="submit" class="govuk-button">Review</button>
                 <a  class="govuk-button clear-button" href="../recruit" >Cancel </a>
              </form>
          </div>
        </div>
</main>

{% endblock %}

