<!-- <nav id="menu">
  <ul id="menu-closed">
    <li><a href="#">Home</a></li>
    <li><a href="#">Finance</a></li>
    <li><a href="#">Apprentices</a></li>
    <li><a href="#">Recruit</a></li>
    <li><a href="#">Your Team</a></li>
    <li><a href="#">Your organisations and agreements</a></li>
     <li><a href="#">PAYE Schemes</a></li>
     <li><a href="#">Help</a></li>
      <li><a href="#">Settings</a></li>
       <li><a href="#">Sign out</a></li>
    <li><a href="#menu-closed">&#9660; Close </a></li>
    <li><a href="#menu">&#x25b6; More</a></li>
  </ul>
</nav> -->

<style>


</style>



<nav class='greedy'>
  <ul class='links'>
    <li id="homeNav"><a href="homeNav">Home</a></li>
    <li id="financeNav"><a href="EPAOApprovalsNav">Pipeline</a></li>
    <li id="outcomeNav"><a href="EPAOOutcomesNav">Record an outcome</a></li>
    <li id="recruitNav"><a href="#">Completed assessments</a></li>
    <li id="teamNav"><a href="#">Standards</a></li>
    <li id="orgsNav"><a href="#">Organisation details</a></li>
<!--     <li id="payeNav"><a href="#">PAYE Schemes</a></li>
    <li id="helpNav"><a href="3">Help</a></li> -->
<!--     <li id="settingsNav"><a href="#">Settings</a></li>
    <li id="signOutNav"><a href="#">Sign out</a></li> -->
  </ul>
  <button id="moreButton">More</button>
  <ul class='hidden-links hidden'></ul>
</nav>

