{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}   {% include "includes/version1/financeNav.html" %}
{% endblock %} {% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
    Apprenticeship funds reserved
      </h1>
      <div class="govuk-panel__body">
        
      </div>
    </div>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Organisation </th>
          <td class="govuk-table__cell">Assurance Aerospace Ltd</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Apprenticeship </th>
          <td class="govuk-table__cell">   {{ data['funding'] }}</td>
        </tr>
<!--         <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Total cost of reserved apprenticeship training </th>
          <td class="govuk-table__cell">£8,100</td>
        </tr> -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Apprenticeship start date </th>
          <td class="govuk-table__cell"> {{ data['acceptedRecruit'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>


    <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">What you need to do now</h2>
<p>Once you have finalised the details of the apprenticeship with your chosen training provider, you will need to add this information to your reservation.</p>
<p>You can add these now if you already know them.</p>
<p>Both you and the training provider will need to check and approve this information before the apprenticeship starts so that the correct funding can be paid to your training provider.</p>
 <h2 class="govuk-heading-m">If you haven't chosen a Training provider</h2>
 <p>If you don’t know which training provider you want to use then you can use the Find Apprenticeship Training service to search for a provider who offers the apprenticeship you would like to offer.</p>
  <h2 class="govuk-heading-m">If you haven't found an apprentice</h2>
  <p>You can also use our recruitment service to help you find the right apprentice for your business.</p>



<form action="finishedReserveFundingDan" method="get" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <label class="govuk-label  govuk-label--m" for="uk-provider-reference-number">
                    What's next
              </label>   
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-true" name="confirmTraining" type="radio" value="hire" checked="true">
              <label class="govuk-label govuk-radios__label" for="confirmation-true">
                Pay for an apprentice with this funding
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="reserve">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                Reserve more funding
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="view">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
                View reserved funding
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirmation-false" name="confirmTraining" type="radio" value="homepage">
              <label class="govuk-label govuk-radios__label" for="confirmation-false">
               Return to homepage
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button">Continue</button>
    </form>

</div>
</main>
</div>

{% endblock %}