{% extends "layout.html" %}
{% block beforeContent %}
 {% include "includes/version6/provider/providerNav.html" %}
  {% include "includes/version6/provider/homeNav.html" %}
  {% from "back-link/macro.njk" import govukBackLink %} 

{{ govukBackLink({ text: "Back", href: "../../home" }) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
        <!--       <div class="govuk-grid-column-full"> -->

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" >Choose an employer to create a new vacancy</h1>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-body-s" scope="col">"Legal Entity"</th>
                    <th class="govuk-table__header govuk-body-s" scope="col">Account name</th>
                       <th class="govuk-table__header govuk-body-s" scope="col" style="">Status</th>
<!--                     <th class="govuk-table__header govuk-body-s" scope="col" style="width:100px">Agreement ID (needed?)</th> -->
                    <th class="govuk-table__header govuk-body-s" scope="col"></th>
                    <th class="govuk-table__header govuk-body-s" scope="col"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

     
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell nowrap govuk-body-s" scope="row">Assurance Aerospace Ltd</td>

                    <td class="govuk-table__cell nowrap govuk-body-s" scope="row">Assurance Aerospace</td>
                    <td class="govuk-table__cell nowrap govuk-body-s" scope="row">Live</td>
<!--                     <td class="govuk-table__cell govuk-body-s" scope="row">QXDVNK</td> -->
   <!--             <td class="govuk-table__cell govuk-body-s" scope="row"><a href="">Add apprentices</a> <br /><a href="./reserveFunding/reserveMVS">Reserve funding </a><br /><a href="./reserveFunding/changeReserveMVS">View and manage reserve funding </a><br /><a href="">Add and edit apprentice vacancy ads</a><br /><a href="">Notify successful and unsuccessful candidates</a><br /><a href="">Create candidate shortlists  </a> </td> -->
                  <td class="govuk-table__cell govuk-body-s" scope="row"><a href="./step-1">Create a new vacancy</a>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell nowrap govuk-body-s" scope="row">Assurance Plumbing Ltd</td>
                    <td class="govuk-table__cell nowrap govuk-body-s" scope="row">Plumb World</td>
                    <td class="govuk-table__cell govuk-body-s" scope="row">Unverified account</td>
            <!--         <td class="govuk-table__cell govuk-body-s" scope="row">No permissions set</td> -->
                    <td class="govuk-table__cell govuk-body-s" scope="row">Not allowed
                    </td>
                </tr>
                <!--tr class="govuk-table__row">
                    <td class="govuk-table__cell nowrap" colspan="6" scope="row">
                        <i>No data</i>
                    </td>
                </tr-->

            </tbody>
        </table>
    </div>
</div>
</div>
</main>
</div>


{% endblock %}