{% extends "layout.html" %}

{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}
  {% include "includes/version1/homeNav.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "find"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" style="" id="company-Name">Search for things</h1>
                <form action="epaosearch" method="get" class="form">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h2 class="govuk-fieldset__heading">
                         Search for a training provider or end-point assessment organisation

                           <!--span id="email-hint" class="govuk-hint">
             Choose the level of access this user can have.
            </span-->
                </h2>
                            </legend>
                            <div class="govuk-radios ">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="team-whats-next--1" name="fatType" type="radio" value="apprenticeship" checked="true">
                                    <label class="govuk-label govuk-radios__label" for="team-whats-next--1">
                                        Training provider
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="team-whats-next--2" name="fatType" type="radio" value="provider">
                                    <label class="govuk-label govuk-radios__label" for="team-whats-next--2">
                                        EPAO
                                    </label>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <button class="govuk-button">Continue</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}