{% extends "layout.html" %}

{% block beforeContent %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "searchOrgResults"
}) }}
{% endblock %}
{% block content %}

<script type="text/javascript">
function whereNow() {
   localStorage.setItem("orgs.updatedAgreement", JSON.stringify("done"));
   window.location.href='../orgs';
    }
 </script>


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <h1 class="govuk-heading-xl" style="width:66%">ESFA Apprenticeship Agreement for Employers</h1>
<!--     <div class="info-highlighted">
    <h3 class="govuk-heading-m">What's in your updated agreement?</h3>
    <p>Your agreement was updated on 30 April 2018 to include information on:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>sending and receiving transfers to fund apprenticeship training (clause 7)</li>
        <li>using this service as a non-levy paying employer</li>
    </ul>
    <p>A previous version of this agreement was signed by Satya Sanikommu on behalf of ; DROP TABLE "COMPANIES";-- LTD on 1 December 2017</p>
    <p><a href="#">View previous version</a> (PDF)</p>
</div> -->
    <div class="govuk-grid-row" id="publication-banner">
    <div class="govuk-grid-column-one-third" style="padding-left:0">
<!--         <div class="sfa-logo">
            <h1 style="margin:0" class="govuk-heading-s">
                <span class="organisation-logo">
                    <span>Education &amp; Skills <br>
                        Funding Agency</span>
                </span>
            </h1>
        </div> -->
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a href="/accounts/VYJW8B/agreements/MK77WW/agreement-pdf" target="_blank" class="download">Save this agreement as a PDF</a>
    </div>
</div>


<iframe style="margin:20px 0 20px 0;width:100%; height:300px"src="justagreement"></iframe>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Sign this agreement</h2>

        <table class="govuk-table">
            <tbody>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" >Signed by:</th>
                <td class="govuk-table__cell ">Satya Sanikommu</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" >On behalf of:</th>
                <td class="govuk-table__cell ">; DROP TABLE "COMPANIES";-- LTD</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" >Address:</th>
                <td class="govuk-table__cell ">No 2 Lochrin Square, 96 Fountainbridge, Edinburgh, EH3 9QA</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" >Signed on:</th>
                <td class="govuk-table__cell ">14/08/2018</td>
            </tr>
        </tbody>
      </table>

<div>
   
         <button type="submit" class="govuk-button" onclick="whereNow()" style="" >Sign now</button>
           <a  class="govuk-button clear-button" href="confirm-training-provider" >Not yet, I'll sign it later</a>

</div>
        <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    This agreement is legally binding. You must have authority from your organisation to sign it.
  </strong>

</div>

    </div>
</div>

      </div>
  </div>
{% endblock %}