{% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}  {% include "includes/version1/apprenticesNav.html" %}    {% from "govuk/components/back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "reserveStartDate" }) }} {% endblock %} {% block content %}
<style>
.survey-panel {
    background: #DEE0E2;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.survey-panel:before {
    content: '';
    position: absolute;
    left: 10px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #DEE0E2;
    clear: both;
}

.survey-panel p {
    margin-bottom: 0;
}

.phase-tag {
    line-height: 1.1428571429;
    font-weight: 700;
    text-transform: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: f47738;
    font-weight: 900;
    /* background: orange; */
    padding: 5px;
    /* clear: right; */
    position: relative;
    float: left;
    margin-top: 4px;
    margin-right: 5px
}
</style>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Funding available</h1>
                <p>There is funding available for one apprentice starting on: XYZ</p>
                <p>Copy about this not always being the case and that they should reserve in advance to be guaranteed funding.</p>
                

            <a href="apprenticeAdd"  class="govuk-button ">Continue</a>

 
            </div>
        </div>
    </main>
    {% endblock %}