{% extends "layout.html" %}
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="searchOrgResults" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Search for your organisation

        </h1>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
              <label class="govuk-label govuk-!-width-three-quarters bold-label" for="orgName">
Enter organisation name

              </label>
              <!--span id="email-hint" class="govuk-hint">
              We’ll only use this to send you a receipt
            </span-->
              <input class="govuk-input govuk-!-width-three-quarters" id="orgName" name="orgName" type="text" aria-describedby="orgName">
          </div>
          </fieldset>
        </div>
        <button class="govuk-button">Search</button>
      </form>
    </div>

  </div>
{% endblock %}