{% extends "layout.html" %}


{% block beforeContent %}
 {% include "includes/version3/microNav.html" %}
  {% include "includes/version3/microHomeNav.html" %}

{% endblock %}
{% block content %}

<style>

#navigation-primary, #kill-me, .govuk-header__logo,  .govuk-header__link--service-name  {
  display:none ;
}

.govuk-header__content {
  height:45px;
  border-bottom:0;
}

.govuk-header__container {
   border-bottom:none;
}

</style>

<!-- <script>

 var fundingStatus =JSON.parse(localStorage.getItem('nonLevy.fundingSet'));
console.log(fundingStatus)
$(document).ready(function() {
  var changeStuff = function() {
  if (fundingStatus=='yes') {
   // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
   // document.getElementById("providerName").textContent = "Provider:" ;
    $(eligibilityLevy).removeClass("rj-dont-display")
   $(forecastMyLevy).removeClass("rj-dont-display");
    $(claimMyFunding).removeClass("rj-dont-display");
   // $(commitmentStatus).addClass("rj-dont-display");
   //  $(addDate).addClass("rj-dont-display")
    }
else {
  //  $(notesStuff).removeClass("rj-dont-display");
  //  $(addReference).removeClass("rj-dont-display");
  //  $(commitmentStatus).removeClass("rj-dont-display");
  //  $(addDate).removeClass("rj-dont-display")
        };

if (fundingStatus=='nope' || fundingStatus=='wakanai' ) {
    $(eligibilityCoinvestment).removeClass("rj-dont-display")

    }
else { };

if (fundingStatus=='transferFunding') {
   $(eligibilityTransfer).removeClass("rj-dont-display")
    }
else { };



  }
changeStuff();
});

</script>

<script src="/public/ty/assets/javascripts/js.cookie.js"></script>

<script>


  showApp = Cookies.get('appCount')
  showPro = Cookies.get('proCount')

if (showApp='nan') {showApp=0};
  if (showPro=nan) {showApp=0};

     $("#savedApps span").text(Number(showApp));
   $("#savedPro span").text(Number(showPro));
</script> -->
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="" >
      <h1 class="govuk-heading-xl">
        Discover a new source of energy
      </h1>
      <p style="width:66%; margin-bottom: 0">Hear from leaders up and down the country how apprentices have helped them re-energise their business.  </p>
      <p style="width:66%"></p>

      <div class="xavier">
<!--      <img src="/public/images/xavier.webp" width="100%" height="auto">
 -->   
          <img class="play-btn" src="/public/images/playbutton.webp" alt="Play">
      </div>
      <h2 class="govuk-heading-m" style="margin:20px 0 0 0">Xavier Edwards, CEO of Lloyds Bank </h2>
        <h2 class="govuk-heading-s" style="margin-top:0px; margin-bottom:10px">Apprenticeship 1982-1985</h2>
        <p>Xavier is passionate about how apprentices help Lloyds bank energised and content here would be about why he is passionate and how is energises their business. Emotional and rational reasons.</p>
      <div class="slides" style="height:250px; padding:25px">

      <h2 class="govuk-heading-l" style="color:#fff;">Find out about apprenticeships</h2>
      <p style="width:66%">Find out more about what an apprenticeship is and how they are structured. Also, which different levels of apprenticeships are available to suit your business.</p>
          <form action="./microsite/guide"><div class="actions">
      <button type="submit" class="govuk-button" style="margin-bottom:15px">Get started</button>
      </div></form>
      </div>
            <div class="david">
<!--      <img src="/public/images/xavier.webp" width="100%" height="auto">
 -->   
          <img class="play-btn" src="/public/images/playbutton.webp" alt="Play">
      </div>
         <h2 class="govuk-heading-m" style="margin:20px 0 0 0">David Apan, CEO of IBM Europe </h2>
        <h2 class="govuk-heading-s" style="margin-top:0px; margin-bottom:10px">Apprenticeship 1987-1990</h2>
        <p>David is passionate about how apprentices energise Aston Martin and content here would be about why he is passionate and how is energises their business. Emotional and rational reasons.</p>
      <div class="slides" style="height:250px; padding:25px">

      <h2 class="govuk-heading-l" style="color:#fff;">Find out about apprenticeships</h2>
      <p style="width:66%">Find out more about what an apprenticeship is and how they are structured. Also, which different levels of apprenticeships are available to suit your business.</p>
          <div class="actions">
      <button type="submit" class="govuk-button" style="margin-bottom:15px">Get started</button>
      </div>
      </div>
  

      
    </div>
  </div>
</main>
{% endblock %}


