{% extends "layout.html" %}
{% block beforeContent %}



{% endblock %}
{% block content %}
<link href="/public/bot/govuk-template.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/bot/fonts.css" media="all" rel="stylesheet" type="text/css">

<script>
function whereNow() {
        localStorage.setItem("nonLevy.whichApprenticeship", JSON.stringify("finServ"));
        window.location.href='proSearch';
    }

    $(document).ready(function() {
        openSesame()
        });

</script>


<!-- 
<script>
$( document ).ready(function() {
    var appCount=0
var proCount=0
 $(".shortlistButton").click(function (e) {
        e.preventDefault();
        console.log("shortlist button clicked: " + appCount);
        if ($("i", this).hasClass("fa-star-o")) {
            console.log("isnt shortlisted");
            appCount = appCount + 1;
            console.log(appCount);
    //        Cookies.set("appCount", appCount);
            $("i", this).removeClass("fa-star-o").addClass("fa-star");
            $("span", this).text("Remove from saved list");
           $("#bannerCount span").text(Number(proCount) + Number(appCount));

        } else {
            console.log("is shortlisted");
            $("i", this).removeClass("fa-star").addClass("fa-star-o");
            $("span", this).text("Save this apprenticeship");
            appCount--;
      //      Cookies.set("appCount", appCount);
            console.log(appCount);
           $("#bannerCount span").text(Number(proCount) + Number(appCount));
        }
    })
  });
</script>
 -->
<!--script>
 var fundingStatus =JSON.parse(localStorage.getItem('nonLevy.fundingSet'));
console.log(fundingStatus)
$(document).ready(function() {
  var changeStuff = function() {
  if (fundingStatus=='yes') {
    $(coInvestPayer).addClass("rj-dont-display")
   // document.getElementById("commitmentsName").textContent = " Hackney Skills & Training Ltd";
   // document.getElementById("providerName").textContent = "Provider:" ;
   // $(commitmentStatus).addClass("rj-dont-display");
   //  $(addDate).addClass("rj-dont-display")
    }
else {};

if (fundingStatus=='nope' || fundingStatus=='wakanai' ) {
       //  $(addDate).addClass("rj-dont-display")
    }
else { };

//if (fundingStatus=='transferFunding') {
  // $(eligibilityTransfer).removeClass("rj-dont-display")
    //}
//else { };
  }
changeStuff();
});
</script-->
{% include "includes/webchat/chatjsuser.html" %}

<style>
.data-list dd, .data-list dt  {margin-bottom:0;}
</style>

<!-- Here is the code to show conditional stuff in liquid-->
{% if data.FAALoggedIn %}
            <div class="do-a-thing"></div>
{% else %}
            <div class="dont-a-thing"></div>
{% endif %}
<!-- end of conditional statement -->

 {% include "includes/RAALoggedIn.html" %} 
<!-- <div class="info-summary">
    <h3 class="heading-medium"></h3>
    <p>Last saved at 3:00:10 PM on 4/12/2019 to <a href="myApplications">my applications</a></p>
</div> -->
       

<div style="clear:both"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="">
            <h1 class="govuk-heading-xl" style="">Application form</h1>
       

        </div>
        <h1 class="govuk-heading-l" style="margin-top:25px">Business admin apprentice    <span id="reference-hint" class="govuk-hint" style="font-size:19px">
                    Central Financial Services
                </span></h1>
     <p>To efficiently undertake basic adminstration and clerical duties</p>
     <p><a href="busAdminApprentice">View apprenticeship</a></p>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-l" style="">Your details</h3>
   
    <p> <span class="looks-like-a-link-underline" style="cursor:pointer" onclick="openSesame()">Use our chat service</span> to do the thing.</p>
   
     </div>
</div>
 {% include "includes/webchat/chatbox.html" %}

<!-- 
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <dl class="data-list">
        
             <h3 class="govuk-heading-s" style="margin-bottom:5px">Full name</h3>
            <p style="margin-bottom:5px">Alex Piggins</p>
          
               <h3 class="govuk-heading-s" style="margin-bottom:5px">Date of birth</h3>
            <p>01 Jan 2000</p>
                <h3 class="govuk-heading-s" style="margin-bottom:5px">Address</h3>
            <p>101 Bracey St<br /> Finsbury Park<br /> London<br /> N4 3BJ</p>
               <h3 class="govuk-heading-s" style="margin-bottom:5px">Date posted</h3>
            <p>15 Jan 2018</p>
        </dl>
 

    
                    <h3 class="govuk-heading-s" style="margin-bottom:5px">Email address</h3>
            <p>apprentice@mailinator.com</p>
                   <h3 class="govuk-heading-s" style="margin-bottom:5px">Phone</h3>
            <p>0207 555 5555</p>


<button type="submit" class="govuk-button" style="margin-bottom:15px">Do the thing</button>

</div>
</div> -->
</div>

{% endblock %}