{% extends "layoutEPAO.html" %}
{% block beforeContent %}
{% include "includes/version19/epaoNav.html" %}
{% include "includes/version19/outcomeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="completeFinish">
            <h1 class="govuk-heading-xl">Check and submit the assessment details</h1>
            <div class="govuk-inset-text">
  <p><span style="font-weight:700; font-size:24px; ">Please check before submitting</span></p>
  <p>The apprentice and apprenticeship details will be printed on the certificate.</p>
  <p>If the name, standard or level is incorrect, you need to agree on the correct details along with the training provider and the employer. The training provider needs to then update the Indivualised Learner Record (ILR).
</div>

<h2 class="govuk-heading-m" style="margin-top:35px">Apprentice details</h2>
                  <dl class="app-check-your-answers app-check-your-answers--short">
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
    </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
    </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        First name
    </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Alex
    </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Family name </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Swordy
    </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        ULN </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        5389106499
    </dd>
</div>
</dl>

<h2 class="govuk-heading-m" style="margin-top:35px">Apprenticeship details</h2>
                  <dl class="app-check-your-answers app-check-your-answers--short">
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
    </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
    </dd>
         <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ;">
            
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
       Standard
    </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Financial Services Administrator
    </dd>
      <dd class="app-check-your-answers__change">
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Level </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        3
    </dd>
        <dd class="app-check-your-answers__change">
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Grade </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Pass
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Option </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Option one
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Achievement date </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        4 April 2019
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
</dl>

<h2 class="govuk-heading-m" style="margin-top:35px">We'll send the certificate to:</h2>
                  <dl class="app-check-your-answers app-check-your-answers--short">
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style=" font-weight:400; ;">
    </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ;">
    </dd>
         <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ;">
            
            </a>
          </dd>
</div>

<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Name </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        Helen Black
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Department </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        IT
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Organisation </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
       Profound Media & Management Ltd
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>
<div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question" style="width:45%; font-weight:400; ;">
        Address </dt>
    <dd class="app-check-your-answers__answer" style="font-weight:700; ">
        PO Box 4222 <br />
        Coventry <br />
        CV4 0BH 
    </dd>
        <dd class="app-check-your-answers__change">
            <a href="add-apprentice" style="font-weight:400; ">
              Change
            </a>
          </dd>
</div>




</dl>
            <button type="submit" class="govuk-button">Confirm and submit </button>
              <!-- <a  class="govuk-button clear-button" href="confirm-training-provider" >Cancel and return</a> -->
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}