{% extends "layout.html" %} 
{% block beforeContent %} 
{% include "includes/version1/mainNav.html" %}  {% include "includes/version5/recruitNav.html" %} 

{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
                <div class="govuk-grid-column-two-thirds">


        <form method="get" action="step14b">
            <h1 class="govuk-heading-xl">Your provider
</h1>


<!-- <p>Apprentice candidates will see your vacancy summary in a search along with vacancies from other employers. This is your opportunity to make your vacancy attracts the best candidates</p> -->

<!-- <details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
     Show example summary 
    </span>
    </summary>
    <div class="govuk-details__text">
       Example summary needs to go here
    </div>
</details> -->
            <div class="govuk-form-group">
                <label class="govuk-label   govuk-label--s" for="vacancyName">
Enter the training provider UK Provider Reference Number (UKPRN)
               </label>
                <span id="price-hint" class="govuk-hint">
             You will be able to get this from your training provider
Your provider must also have a recruit an apprentice account
The UKPRN must only be 8 digits (For example, 12345678)

                </span>
                <input class="govuk-input govuk-input--width-10" id="recruitUKPRN" name="recruitUKPRN" type="text" aria-describedby="recruitUKPRN-hint" value="{{ data['recruitUKPRN'] }}"/>
            </div>
<!--             <div class="govuk-form-group">
                <label class="govuk-label   govuk-label--s" for="numberOfApprentices">
                    How many positions do you have for this apprenticeship?
                </label>
                <input class="govuk-input govuk-input--width-5" id="numberOfApprentices" name="numberOfApprentices" type="text" aria-describedby="numberOfPostitions-hint" value="{{ data['numberOfApprentices'] }}"  />
            </div> -->
                    </div>
                </fieldset>
            </div>
<!--                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-form-group">
                <label class="govuk-label   govuk-label--s" for="price">
                    Total agreed apprenticeship price (excluding VAT)
                </label>
                <span id="price-hint" class="govuk-hint">
                    Enter the price, including any end-point assessment costs, in whole pounds. For example, for £1,500 enter 1500
                </span>
                <input class="govuk-input govuk-input--width-10" id="price" name="price" type="text" aria-describedby="price-hint" placeholder="£" / value="9,000">
            </div> 

           <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
-->
            <!--
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="end-date-hint" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">
                            Planned training end date
                        </h1>
                    </legend>
                    <span id="end-date-hint" class="govuk-hint">
                        For example, 09 2017
                    </span>
                    <div class="govuk-date-input" id="end-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="end-date-month" name="end-date-month" type="number"
                                    pattern="[0-9]*" value="01">
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="end-date-year" name="end-date-year" type="number"
                                    pattern="[0-9]*" value="2020">
                            </div>
                        </div> -->

<!--             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-form-group">
                <label class="govuk-label   govuk-label--s" for="reference">
                    Reference (optional)
                </label>
                <span id="reference-hint" class="govuk-hint">
                    Add a reference, such as employee number or location - this won't be seen by the training provider
                </span>
                <input class="govuk-input" id="reference" name="reference" type="text" aria-describedby="reference-hint" />
            </div> -->

            <button type="submit" class="govuk-button">Save and return </button>
              <a  class="govuk-button clear-button" href="step14b" >Cancel </a>
        </form>
    </div>
</div>
</main>
</div>



{% endblock %}