{% extends "layout.html" %}
{% block beforeContent %}
{% include "includes/version1/mainNav.html" %} {% include "includes/version5/recruitNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{{ govukBackLink({ text: "Back", href: "step5" }) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
            <h1 class="govuk-heading-xl">Your vacancy summary</h1>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                      <h2 class="govuk-heading-m">Here is where the Apprenticeship headline goes</h2>
                           <p style="margin:0px 0 0 0 ">Assurance Aerospace Ltd</p>
                            <p style="margin:0px 0 20px 0; font-size:16px; ">1 position available</p>
                            <p>Here is where the long description of the vacancy will go when it is all tied together.</p>
                            <p id="coInvestPayer" style="margin:20px 0 0px 0 ; font-weight:400">Closing date:<span style="padding-left:103px; font-weight:700">10 Oct 2019</span></p>
                            <p id="coInvestPayer" style="margin:10px 0 0px 0 ; font-weight:400">Possible start date: <span style="padding-left:50px; font-weight:700">10 Oct 2020</span></p>
                            <p id="coInvestPayer" style="margin:10px 0 0px 0 ; font-weight:400">Apprenticeship level: <span style="padding-left:37px; font-weight:700">Advanced</span></p>
                            <p id="coInvestPayer" style="margin:10px 0 30px 0 ; font-weight:400">Wage: <span style="padding-left:158px; font-weight:700">£7,696 yearly</span></p>
                            <img style="width:200px; margin:0px 0 35px 0" src="https://recruit.test-eas.apprenticeships.sfa.bis.gov.uk/img/disability-confident_545x172.png">
                            <details class="govuk-details" style="margin:10px 0 35px 0 ">
                                  <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                      About disability confident
                                    </span>
                                  </summary>
                                  <div class="govuk-details__text">
                                   <p> Disabled candidates are generally guaranteed an interview if you meet the minimum requirements for this vacancy. Contact the employer for full details.</p>

                                   <p> Employers may need to limit the number of interviews offered to both disabled and non-disabled people if they receive high numbers of applications.</p>

                                    <p>The disability confident scheme supports employers to make the most of the talents disabled people can bring to your workplace.</p>
                                  </div>
                            </details>
    </div>
                <div class="govuk-grid-column-one-third map-container ">
                    <img id="static-map" class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?markers=55.970099,-3.169768&amp;size=190x125&amp;zoom=12&amp;client=gme-skillsfundingagency&amp;signature=gx45BRMIJOfobaMk1REoKbzrHao=">
                </div>
                </div>

            <form method="get" action="step6">
                 <button type="submit" class="govuk-button">Save and continue </button>
                     <a  class="govuk-button clear-button" href="#" >make changes </a>
                     <a  class="govuk-button clear-button" href="../recruit" >back to dashboard </a>
            </form>
      </div>   
</div>
</div>
</main>
</div>
{% endblock %}