{% extends "layout.html" %} {% block beforeContent %}  {% include "includes/version1/mainNav.html" %}  {% include "includes/version5/recruitNav.html" %}    {% from "back-link/macro.njk" import govukBackLink %} {{ govukBackLink({ text: "Back", href: "./" }) }} {% endblock %} {% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Your vacancies</h1>
                <p>Create an apprenticeship vacancy to be promoted to potential apprentices on the Find An Apprenticeship service.</p>
                 <h2 class="govuk-heading-m"> Before you start</h2>
                 <p>You must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>know which training course and training provider you want to use</li>
<!--                     <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
 -->                    <li>have <a href="./finance/reserve">reserved funding</a> for the apprenticeship</a></li>
                    <li>do something to a thing</a></li>
                </ul>
            <a href="./wholelist"  class="govuk-button govuk-button--start">Start</a>
            </div>
        </div>
    </main>
    {% endblock %}