{% extends "layout.html" %} 
{% block beforeContent %}
 {% include "includes/version1/mainNav.html" %}    {% include "includes/version1/financeNav.html" %}
{% from "back-link/macro.njk" import govukBackLink %} 
{{ govukBackLink({ text: "Back", href: "./" }) }} 
{% endblock %} 
{% block content %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row"">
    <div class="govuk-grid-column-two-thirds">
        <form method="get" action="numberOfApps">
            <h1 class="govuk-heading-xl">Reserve funding</h1>
           <!--  <p class="govuk-body-l">Do you want to use a saved apprenticeship?</p> -->
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                       Choose the apprenticeships you want to reserve funding for
                      </h1>
                    </legend>
                    <div class="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-1" name="funding" type="radio" value="aero">
                        <label class="govuk-label govuk-radios__label" for="app-1" style="padding-top:0;margin-top:-5px">
                         <span class="reserveLevel">Level 2</span><br/>  Aeronautical engineer
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-2" name="funding" type="radio" value="mech" >
                        <label class="govuk-label govuk-radios__label" for="app-2"  style="padding-top:0;margin-top:-5px">
                          <span class="reserveLevel">Level 3</span><br/>  Mechanical engineer
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="app-3" name="funding" type="radio" value="software">
                        <label class="govuk-label govuk-radios__label" for="app-3"  style="padding-top:0;margin-top:-5px">
                          <span class="reserveLevel">Level 4</span><br/>  Software engineer
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
</main>
</div>

{% endblock %}