{% extends "layout.html" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
 href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--form  method="get" class="form"-->
        <h1 class="govuk-heading-xl" style="margin-bottom:30px">
          Have you already secured funding?
        </h1>
     <!--    <p class="govuk-body">Add your PAYE scheme using your Government Gateway login or via your accounts office reference number. </p> -->

<!--             <h2 class="govuk-heading-m">By continuing you agree to the following:</h2>
            <div class="govuk-details__text">
                <p>I have the authority to add PAYE schemes to this account that are used by my organisation.</p> -->
             <!--    <p>I understand that all account users will be able to see funds from any PAYE schemes I add.</p> -->
     <!--            <p>I'll only add PAYE schemes that are used by my organisation or used by a <a href="">connected organisation.</a></p> -->
          <!--   </div> -->

   <form action="startApprenticeSecureFunding" method="get" class="form">
        <div id="addTheError" class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
<!--             <h2 class="govuk-fieldset__heading" style="margin-top:25px">
           How do you want to add your PAYE scheme?
            </h2> -->
          </legend>

          <span id="gatewayError" class="govuk-error-message rj-dont-display">
               Do you want to do this now?

          </span>

          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-1" name="whatsNeeded" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="needed-1">
               Yes, I have secured funding for this apprenticeship
              </label>
            </div>
  
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needed-2" name="whatsNeeded" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="needed-2">
               No, I want to secure funding for this apprenticeship
              </label>
   <!--            <span  class="govuk-hint" style="padding-left:15px; width:66%">
                    You will need to add at least one PAYE scheme before you can get government funds for your apprenticeships
              </span> -->
            </div>
          </div>
          </fieldset>
        </div>

    <button class="govuk-button">Save and continue</button>

</form>

    </div></div></main>
  </div>
{% endblock %}
