{% extends "layout.html" %}
{% block content %}
<script>
    function whereNow() {
 var govtGateway = $('input[name=gatewayLogin]').val();
       switch (true) {
          case  (govtGateway == '1234abcd'):
                 window.location.href='multiOrgs';
                break;

        case  (govtGateway == 'abcd1234'):
             window.location.href='multiOrgsChoice';
            break
        default:
             console.log('gyahhhhhhhh, bork bork bork' + govtGateway)
             //   window.location.href='allowtaxdetails';
             window.location.href='checkPAYE';
            break;
        }
    }
 </script>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!--   <form action="multiOrgs" method="get" class="form"> -->
        <form method="get" class="form">
            <h1 class="govuk-heading-xl"> Sign in using Government Gateway </h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-three-quarters bold-label" for="gatewayLogin">
                            Government Gateway user ID
                        </label>
                        <span id="gatewayLogin-hint" class="govuk-hint">
                            This could be up to 12 characters.
                        </span>
                        <input class="govuk-input govuk-!-width-three-quarters" id="gatewayLogin" name="gatewayLogin" type="text" aria-describedby="">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label bold-label govuk-!-width-three-quarters" for="password">
                            Password
                        </label>
                        <!--span id="email-hint" class="govuk-hint">
                           We’ll only use this to send you a receipt
                      </span-->
                        <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="text" aria-describedby="">
                    </div>
                </fieldset>
            </div>
        </form>
        <button class="govuk-button" onClick="whereNow()">Sign in</button>
        <p style="padding-top:20px">
        </p>
    </div>
</div>
{% endblock %}