
{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Apprenticeships Non Levy &amp; EPAO </h1>
        <h2 class="govuk-heading-m">Linkies</h2>
                  <h2 class="govuk-heading-s">V13 EPAO Version</h2>
        <p><a href="/version-13/home">Version 13 Home</a></p>
        <p><a href="/version-13/EPAO/epaoandcost">Add EPAO and Cost</a></p>
          <p><a href="/version-13/EPAO/epaoandcostv2">Add EPAO and Cost Version 2 </a><span class="govuk-hint">Has costs on same screen as course and EPAO selection</span></p>
         <p><a href="/version-13/EPAO/epaoOnlyCost">Add cost only in commitment</a></p>



           <hr style="margin:25px 0 25px 0">
          <h2 class="govuk-heading-s">V11 Testing Version</h2>
        <p><a href="/version-11/home">Version 11 Home</a></p>
        <p><a href="/version-11/newregister/employerStarted/v3"> >>> Version 11 August Employer started Register</a></p>
        <p><a href="/version-11/newregister/employerStarted/v3/email">Version 11 August Provider Started (employer finishing) Register </a></p>

        <p><a href="/version-11/newregister/employerStarted/april">Buspass Registration </a></p>
        <p><a href="/version-11/newregister/employerStarted/aprilThree">Skippy Registration </a></p>


           <hr style="margin:25px 0 25px 0">
              <h2 class="govuk-heading-s">V10 Testing Version</h2>
        <p><a href="/version-10/home">Version 10 Home</a></p>
        <p><a href="/version-10/newregister/employerStarted/v3"> >>> Version 10 August Employer started Register</a></p>
        <p><a href="/version-10/newregister/employerStarted/v3/email">Version 10 August Provider Started (employer finishing) Register </a></p>

        <p><a href="/version-10/newregister/employerStarted/april">Buspass Registration </a></p>
        <p><a href="/version-10/newregister/employerStarted/aprilThree">Skippy Registration </a></p>
    
        <hr style="margin:25px 0 25px 0">
        <h2 class="govuk-heading-s">V9 Testing Version</h2>
        <p><a href="/version-9/home">Version 9 Home</a></p>
        <p><a href="/version-9/newregister/employerStarted/v3"> >>> Version 9 August Employer started Register</a></p>
        <p><a href="/version-9/newregister/employerStarted/v3/email">Version 9 August Provider Started (employer finishing) Register </a></p>
        <p><a href="/version-9/fireitup/v3">Fake Fire It Up start page v3 </a></p>
        <p><a href="/version-9/fireitup/v2">Fake Fire It Up start page v2 </a></p>
        <p><a href="/version-9/newregister/employerStarted/aprilThree">Private Beta - April Registration </a></p>
                    <p><a href="/version-9/newregister/employerStarted/v4/insideAccount/getFunds">Private beta - After light login </a></p>
        <hr style="margin:25px 0 25px 0">
        <h2 class="govuk-heading-s">V8 Testing Version</h2>
        <p><a href="/version-8/home">Version 8 Home</a></p>
        <p><a href="/version-8/provider/employerAccount">Version 8 Provider started Register</a></p>
        <p><a href="/version-8/newregister/providerStarted">Version 8 Provider started employer finish Register</a></p>
        <p><a href="/version-8/newregister/employerStarted"> >>> Version 8 August Employer started Register</a></p>
        <p><a href="/version-8/newregister/employerStarted/april"> >>> Version 8 April Employer started Register</a></p>
        <p><a href="/version-8/newregister/employerStarted/feb"> >>> Version 8 Feb Employer started Register</a></p>
        <p><a href="/version-8/fireitup">Fake Fire It Up start page</a></p>
        <hr style="margin:25px 0 25px 0">
        <h2 class="govuk-heading-s">V7 Testing Version</h2>
        <p><a href="/version-7/home">Version 7 Home</a></p>
        <p><a href="/version-7/recruit">Version 7 Recruit</a></p>
        <p><a href="/version-7/finance/reserve">Version 7 Reserve </a></p>
        <p><a href="/version-7/provider">Version 7 Provider</a></p>
        <p><a href="/version-7/microsite/guide/showall">Version 7 Microsite Task List</a></p>
        <p><a href="/version-7/provider/employerAccount">Version 7 Provider started Register</a></p>
        <p><a href="/version-7/newregister/providerStarted">Version 7 Provider started employer finish Register</a></p>
        <p><a href="/version-7/newregister/employerStarted">Version 7 Employer started Register</a></p>
        <p><a href="/version-7/newregister/fromMicro">Version 7 Employer from Microsite Register</a></p>
        <hr style="margin:25px 0 25px 0">
        <h2 class="govuk-heading-s">Old versions </h2>
        <p><a href="/version-1/manage-apprenticeships/start-page">Version 1 Start</a></p>
        <p><a href="/version-1/home">Version 1 Home</a></p>
        <p><a href="/version-1/provider">Version 1 provider</a></p>
        <p><a href="/version-2/home">Version 2 Home</a></p>
        <p><a href="/version-2/unlogged">Version 2 not logged in</a></p>
        <p><a href="/version-3/home">Version 3 Home</a></p>
        <p><a href="/version-3/microsite">Version 3 Microsite</a></p>
        <p><a href="/version-4/home">Version 4 Home</a></p>
        <p><a href="/version-4/microsite">Version 4 Microsite</a></p>
        <p><a href="/version-4/newregister">Non levy registration</a></p>
        <p><a href="/version-5/home">Version 5 Home</a></p>
        <p><a href="/version-5/microsite">Version 5 Microsite</a></p>
        <p><a href="/version-5/newregister/version1/start">Version 5 Registration Journey v1</a></p>
        <p><a href="/version-5/newregister/version2/start">Version 5 Registration Journey v2</a></p>
        <p><a href="/version-5/recruit">Version 5 Recruit</a></p>
    </div>
</div>

{% endblock %}
