{% extends "layout.html" %}

{% block beforeContent %}

{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<script>
    function whereNow() {

        var providerStartedJourney = JSON.parse(localStorage.getItem('registration.providerStartedJourney'));
        var taxDoneorNot = JSON.parse(localStorage.getItem('registration.completeTax'));

        var status = $('input[name=agreementSign]:checked').val();
        switch (true) {
            case (status == 'yes'):
                localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                if (providerStartedJourney == 'yes') {
                    localStorage.setItem("registration.providerStartedJourney", JSON.stringify("no"));
                    window.location.href = 'changePermissions';
                }

                else if (taxDoneorNot == 'no') {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                    window.location.href = 'https://marvelapp.com/4gae4fh';
                }

                else {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("yes"));
                    // window.location.href='../../../home';
                    window.location.href = 'https://marvelapp.com/b5f29ba';
                }
                break;

            case (status == 'notYet'):
                localStorage.setItem("registration.completeAgreement", JSON.stringify("no"));

                if (providerStartedJourney == 'yes') {
                    localStorage.setItem("registration.providerStartedJourney", JSON.stringify("no"));
                    window.location.href = 'changePermissions';
                }
                else {
                    localStorage.setItem("registration.completeAgreement", JSON.stringify("no"));
                    window.location.href = 'https://marvelapp.com/1e07dceg?';
                }
                break
            default:
                console.log('gyahhhhhhhh, bork bork bork')

                break;
        }
    }
    localStorage.setItem("registration.firstTimeReg", JSON.stringify("yes"));
</script>

<style>
    .agreement ol a {
        color: #005ea5;
        text-decoration: underline
    }

    .agreement header {
        color: #000;
    }

    .agreement .agreement-contents h2 .number {
        padding-left: 0;
        font-size: 36px;
        left: -8%;
        font-weight: 700;
        background-color: #fff;
        width: 8%;
        z-index: 9999;
    }

</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- Title -->
        <h1 class="govuk-heading-xl">Employer agreement between {{data['orgName'] or "Assurance Aerospace Ltd" }} and the Education and Skills Funding Agency (ESFA)</h1>
        
        <!-- Explanation/intro -->
        <p class="govuk-body">Every employer taking on apprentices must sign the <a href="agreement-full">employer agreement</a>.</p> 
        
        <!-- Notification about version -->
        <div class="govuk-inset-text">
            <p class="govuk-body">We updated the agreement on 11 March 2018.</p>
        </div>

        <p class="govuk-body">The agreement includes the terms and conditions of:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>using the apprenticeship service</li>
            <li>using government funding to train and assess apprentices</li>
            <li>working with the ESFA</li>
        </ul>
        <p class="govuk-body">You can sign the agreement later, but {{data['orgName'] or "Assurance Aerospace Ltd" }} will not be able to get or reserve funding until you do. </p>
        <!-- <p class="govuk-body">Without a signed agreement, you can still register for an apprenticeship service account and add:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your colleagues </li>
            <li>apprentice details</li>
            <li>levy funds (if applicable)</li>
        </ul> -->

        

        <!-- Key facts -->
        <h2 class="govuk-heading-m">Key features of the employer agreement</h2>
        
        <p class="govuk-body">By signing the agreement, you confirm that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you have read and agree to the <a href="agreement-full">employer agreement</a></li>
            <li>if you have levy funds, you will only use them to pay for apprenticeship training and assessment</li>
            <li>you will pay co-investment costs for any apprenticeship training</li>
            <li>you have a contract with your training provider</li>
            <li>you understand we may ask you to repay any funding if you don’t follow the rules of this agreement</li>
            <li>you understand we may ask you to pay any remaining training if you don’t follow the rules of this agreement </li>
            <li>you must help with the investigation if the ESFA suspects that you are not following this agreement or the funding rules</li>     
        </ul>
        <p class="govuk-body">You can also <a href="/accounts/VYJW8B/agreements/MK77WW/agreement-pdf" target="_blank" class="govuk-link">view the agreement in PDF format</a> (400KB, 23 pages).</p>

        <!-- Warning text -->
        <br>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This agreement is legally binding. If you breach it, we could terminate your account and you will not be able to use the apprenticeship service.
            </strong>
        </div>
<br>
        <!-- Radio buttons -->
        <h2 class="govuk-heading-m">
                Do you want to sign the employer agreement now?
            </h2>
            <p class="govuk-body">You can continue registering, but will not get any government funding until you sign the agreement.</p>
        <form>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <!-- <h1 class="govuk-fieldset__heading">
                            Do you want to sign the employer agreement now?
                        </h1>
                        <p class="govuk-body">You can continue registering, but will not get any government funding until you sign the agreement.</p> -->
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="app-1" name="agreementSign" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="app-1" style="padding-bottom:0">
                                Yes, I accept the employer agreement
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="app-4" name="agreementSign" type="radio"
                                value="notYet">
                            <label class="govuk-label govuk-radios__label" for="app-4">
                                 No, I’ll sign it later
                            </label>
                        </div>
                </fieldset>
            </div>
        </form>

        <!-- Call to action button -->
        <button class="govuk-button" onclick="whereNow()">Continue</button>

    </div>
</div>

{% endblock %}