{% extends "layout.html" %} {% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}
{% endblock %} {% block content %}
<style>
.govuk-header__content {
    display: none;
    }
</style>


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl ">Create an account to manage apprenticeships</h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p>You need to create or <a href="./employerStarted/signin/signin">sign in</a> to your apprenticeship service account so that you can get government funding to take on apprenticeships.</p>
                <p>You'll use your account to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>get government funding</li>
                    <li>find and save apprenticeships</li>
                    <li>find, save and manage training providers</li>
                    <li>recruit apprentices</li>
                    <li>add and manage apprenticeships</li>
                </ul>
                <div style="margin-top:35px"></div>
                     <a href="./v3/contactDetails"  class="govuk-button govuk-button--start">Start now</a>
            </div>
        </div>
    </main>
{% endblock %}