{% extends "layout.html" %}
{% block beforeContent %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="govtgateway" method="get" class="form">
     <h1 class="govuk-heading-xl" style="">
Using your Government Gateway details
        </h1>
        <p>When you enter your Government Gateway details you'll be asked to 'grant authority' to allow your tax details to be used.</p>
        <p>If you pay the apprenticeship levy, this means you allow HMRC to send the Education and Skills Funding Agency details of the levy that you've paid, so that the correct apprenticeship funds can be seen in your account.</p>

              <h2 class="govuk-heading-m">By continuing you agree to the following:</h2>
        <div class="govuk-details__text">
          <p>I have authority to add PAYE schemes to this account.</p>
          <p>I understand that all account users will be able to see funds from any PAYE schemes I add.</p>
          <p>I'll only add PAYE schemes that are used by my organisation or used by a <a href="">connected organisation.</a></p>
  </div>

        <div class="govuk-form-group" style="margin-top:35px">
        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>
</form>
</div>
</div>
</main>
{% endblock %}